[2017-08-23 09:29] Nyholm commented on #299
@ddctd143 A lot has happened since this issue was created. Have a look at current master. I think we can easily support this now. I would be happy to review a PR for this issue.

[2017-09-13 13:29] grigoriy-aga-parts opened #774 "Support for PHP 5.6"
What the version could i use to attach geocoder to 5.6 php version?
All the systems is working on 5.6, i can't update php on the server

[2017-09-16 09:22] Nyholm commented on #774
Version 3 is supporting PHP5.6

[2017-09-16 09:22] #774 closed

[2017-09-17 13:16] grigoriy-aga-parts commented on #774
I had tried to install 3 without 4, and got the fail. Please give support tip to solve this task ^(

[2017-09-24 19:50] kornrunner opened #782 "Geonames provider notice"
I've submitted a https://github.com/geocoder-php/geonames-provider/pull/1 within geonames repo.
Given `geonames` key seems to be missing sometimes from responses, and patch avoids the notice issued by PHP.

The change is simple, I'll be more than happy to change anything if required. Thank you!

[2017-09-24 19:53] Nyholm commented on #782
That repo is read only. Please make you PR to this repo instead

[2017-09-24 20:04] kornrunner commented on #782
Sure, thanks, it's in #783

[2017-09-24 23:53] Nyholm commented on #782
Thanks!

[2017-09-24 23:53] #782 closed

[2017-10-05 09:06] roro15 opened #785 "Invalid base class for Yandex provider."
Yanex provider inherit from Geocoder\Http\Provider\AbstractHttpProvider, but that class doesnot exist.
Added GoogleMaps provider and it has "geocoder-php/common-http": "^4.0", in dependencies, so problem solved. Think  "geocoder-php/common-http": "^4.0" should be in depenencies of Yandex provider.

[2017-10-06 01:55] Nyholm commented on #785
Thank you. That is very correct. Could you send a PR?

[2017-10-06 09:20] kornrunner commented on #782
Any chance of tagging this as a minor? Thanks!

[2017-10-12 00:07] tmaly1980 opened #790 "PHP version 7 forced in 3.3.2"
So.... 3.3.1 of willdurand/geocoder works dandy in a php 5.6 environment. Did a fresh install after 3.3.2 was released and now it requires php7. From my understanding this is a serious no-no in versioning, that you should have renamed it 3.4 because sub-minor version changes should always be non-breaking. This is pretty much very breaking. Please fix your version tags!

[2017-10-12 01:18] Nyholm commented on #790
Thank you for this issue.
As far as packagist says, 3.3.4 requires php54. https://packagist.org/packages/willdurand/geocoder#v3.3.2

Also, this might be an interesting read: http://www.doctrine-project.org/2017/07/25/php-7.1-requirement-and-composer.html

[2017-10-13 03:17] Nyholm commented on #782
4.1 is tagged. Thank you for the reminder.

[2017-10-13 03:18] Nyholm commented on #785
Closed by#788

[2017-10-13 03:18] #785 closed

[2017-11-03 13:59] benwrigley opened #793 "Administrative level 4 is defined twice"
Hi There,

Using the Google API and ReverseQuery with coordinates sometimes  dies  with Geocoder\Exception\InvalidArgument 'Administrative level 4 is defined twice'

Google docs do say this might happen. Is it possible to merge the two lists for the purposes of returning data and therefore not having to generate an Exception?

[2017-11-03 14:37] Nyholm commented on #793
Hey.

Thank you for this issue.
You are correct. What do you suggest we should do if we notice multiple level 4’s?

[2017-11-03 15:53] benwrigley commented on #793
Hi,

I wonder if there is a way to merge the lists in the level 4s?

[2017-11-03 15:56] benwrigley commented on #793
so take this example:

`        {
          "long_name": "Kings Hill",
          "short_name": "Kings Hill",
          "types": [
            "administrative_area_level_4",
            "locality",
            "political"
          ]
        },
        {
          "long_name": "Kings Hill",
          "short_name": "Kings Hill",
          "types": [
            "administrative_area_level_4",

[2017-11-06 00:51] gl3nda85 opened #794 "Create Provider for Mapbox"
Does anyone else have a requirement for this?

[2017-11-15 15:31] jentscke opened #796 "[Feature Request] Implementing "partial_match"-Attribute"
To check the quality of address, we would like to receive the partial_match attribute.

See Google Maps Docs for details:
https://developers.google.com/maps/documentation/geocoding/intro?hl=en

[2017-11-15 16:42] Nyholm commented on #796
That is an excellent idea

[2017-11-18 15:44] burzum opened #797 "Question: Determining unique places from multiple responses of different APIs?"
First I'm aware of the caching solution, but this seems to cache only response from an API. I've done some research but couldn't come up with a good solution.

Different APIs might return different data sets in terms of completion and probably slightly different geographic coordinates for a place as well. For example one API might return locality but not sub locality and a slightly different coord

[2017-11-20 07:32] Baachi commented on #797
You could write something similar to the [`Chain`](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Chain/Chain.php) provider, which asks more providers for there result and try to get the most accurate result.

And to your next question, you could save this result in a database, of course. But take care of there terms of uses. Some of them forbid to store there results permantly

[2017-11-28 20:00] Nyholm commented on #793
Hm.. A bunch of questions comes to my mind.
- Should we always merge?
- Should we only merge if they are exactly the same?
- Should we really correct Google? If Google does not care about this issue, should we?

[2017-11-28 20:04] Nyholm commented on #790
Closing because of inactivity.

[2017-11-28 20:04] #790 closed

[2017-11-28 20:46] willdurand commented on #790
@Nyholm how long do you usually wait? I would like to install [Probot](https://probot.github.io/) on this organization, how do you feel about that?

[2017-11-28 21:00] Nyholm commented on #790
It depends on the issue. For unconfirmed bug reports or feature request I would be happy to wait years. But for bugs confirmed false I would not wait more than a month.

It also depends on when the author first got a response. If the first response has been taking 2 months I wouldn't close it a few weeks after that...

Short answer is: It depends.

Hm, I do not think I've seen Probot before. Sure,

[2017-12-02 17:46] coderholic opened #800 "Add support for ipinfo.io"
Docs available at https://ipinfo.io

Free for up to 1k req/day, paid plans available beyond that.

[2017-12-10 17:53] DawoudIO opened #801 "Does the System support distancematrix API"
https://developers.google.com/maps/documentation/distance-matrix/intro

[2017-12-10 18:08] Nyholm commented on #801
Hey.
I’m not sure. What does the docs say? Or what does it say in the code?

[2017-12-10 20:03] DawoudIO commented on #801
I did not see it in code or doc

[2017-12-14 10:55] Nyholm opened #804 "Add IpInfo in readme"
We need to add IpInfo on the readme: https://github.com/geocoder-php/Geocoder

We also need to add badges on this readme: https://github.com/geocoder-php/ip-info-provider

Package: https://packagist.org/packages/geocoder-php/ip-info-provider

[2017-12-17 12:47] Nyholm commented on #801
Okey. I guess it is not supported yet. If you send a PR I would be happy to review it

[2017-12-17 12:48] Nyholm commented on #800
Fixed by #802

[2017-12-17 12:48] #800 closed

[2017-12-17 12:48] Nyholm commented on #804
Ping @coderholic or @romainneutron, could you add this?

[2017-12-28 09:32] jbelien opened #805 "Nominatim Provider improvements"
Hello everyone (and happy holidays 🎉 ),

I started to have a look at `geocoder-php` and it's really awesome ! 👍
I use *Nominatim* a lot and since now, I did my query directly on the Nominatim API.

I feel like there are useful items missing in the Nominatim Provider :
- The **locationType** provided by `class` parameter ;
- The **formattedAddress** provided by `display_name` parameter ;
- The **co

[2017-12-28 10:25] Nyholm commented on #805
Hey.

Thank you for your feedback. I would be happy to review a PR.

Providers should not depend on eachother. Ie, you should not base Nominatim Provider on Google Maps provider. You should however be inspired by Google Maps and maybe *copy* some of its solutions.

[2017-12-28 10:46] jbelien commented on #805
Yes, sorry, that's what I meant :)

I'll take care of this ASAP !

[2017-12-29 14:07] jbelien opened #807 "Local/Regional Providers"
Hello everyone,

I created 3 new providers for Belgian addresses :
- https://packagist.org/packages/geo6/geocoder-php-geopunt-provider (North of Belgium + Brussels)
- https://packagist.org/packages/geo6/geocoder-php-spw-provider (South of Belgium)
- https://packagist.org/packages/geo6/geocoder-php-urbis-provider (Brussels)

There is no point to add those providers to the main list in the README fi

[2017-12-29 14:10] Nyholm commented on #807
I think that is a good idea. If they depend on `willdurand/geocoder` I think they could be listed in the readme.

Btw, why not list them with the other providers?  https://github.com/geocoder-php/Geocoder#providers

[2017-12-29 14:26] jbelien commented on #807
Yes, they depend on `willdurand/geocoder` !
I'll finish the development and come back here !

I said not to add them to the main list because it's limited to only (part of) Belgium so it has a really reduced scope ^^
But maybe we could add a flag in the main list to show the "coverage" of the provider.

[2018-01-03 14:58] jbelien commented on #807
Here are my 4 providers for Belgian addresses :
- https://packagist.org/packages/geo6/geocoder-php-geopunt-provider (North of Belgium + Brussels)
- https://packagist.org/packages/geo6/geocoder-php-spw-provider (South of Belgium)
- https://packagist.org/packages/geo6/geocoder-php-urbis-provider (Brussels)
- https://packagist.org/packages/geo6/geocoder-php-bpost-provider (Belgium - provided by Belgi

[2018-01-03 19:49] stevevance opened #808 "Mapzen is shutting down its geocoder"
https://mapzen.com/blog/shutdown/

(This is a placeholder issue. I don't know exactly what needs to happen for this repository. Does the Mapzen provider just need to be de-registered? The Mapzen Search is open source so it's possible that someone could stand up their own instance and use the existing Mapzen geocoder-php provider hook.)

[2018-01-04 05:39] Nyholm commented on #808
I think we just add a comment in the Mapzen provider readme.

[2018-01-06 09:47] #805 closed

[2018-01-15 12:45] jbelien commented on #221
I know this is an old issue but would it be a simple way to detect all installed providers ?

[2018-01-15 13:00] Nyholm commented on #221
Maybe with Symfony autowirng. But we should create a new issue. This one is almost 5 years old =)

[2018-01-15 13:26] jbelien opened #809 "Get installed providers list"
I was wondering if there is a "simple" way to get the list of all the installed providers ?

[2018-01-15 13:26] jbelien commented on #221
#809 opened.

[2018-01-15 21:15] jbelien commented on #809
As proposed by @Nyholm in #221 :

[Symfony autowiring](https://symfony.com/doc/current/service_container/autowiring.html)

or

[PHP-DI autowiring](http://php-di.org/doc/autowiring.html)

[2018-01-18 13:06] jbelien commented on #807
Proposal :

---

## Providers

### Special providers

Provider       | Package | Features | Stats
:------------- |:------- |:-------- |:-------
[Cache](https://github.com/geocoder-php/cache-provider) | `geocoder-php/cache-provider` | Wraps a provider and cached the results | [![Latest Stable Version](https://poser.pugx.org/geocoder-php/cache-provider/v/stable)](https://packagist.org/packages/geoco

[2018-01-19 10:26] willdurand commented on #807
Yes, that looks like a very good idea! Back then, there was a project to split official/worldwide providers and "extra" providers. Now everything became more modular and we should definitely add them to the documentation!

Maybe we could mention "user-contributed" so that there would be no need to do a full quality check-up (code, tests, doc) of each provider before adding them. Users would know t

[2018-01-19 11:27] jbelien commented on #807
Good idea !

I would add something like `(user-contribution)` next to the provider name. Would it be okay ?
Should I create a PR ?

[2018-01-19 12:06] #804 closed

[2018-01-25 08:01] barannd opened #811 "Allowed memory size exhausted"
I get a php error "Allowed memory size of x bytes exhausted", if I try to geocode an address like "asdd21f2fdwf9, 2fj12djl12dl1 2kdj1l2d12d2".

Is there a way to catch this error?

[2018-01-25 08:06] Nyholm commented on #811
What provider are you using?

[2018-01-25 08:10] barannd commented on #811
I'm using the ProviderAggregator with just one registered provider (GoogleMaps)

[2018-01-30 17:51] Nyholm commented on #809
I thought the issue was posted on the GeocoderBundle repo. There is no good way to get all installed providers as far as I know.

[2018-02-06 22:02] stevevance commented on #808
There is now a drop-in replacement for Mapzen Search/Pelias called [geocode.earth](https://geocode.earth) which is created by the same people (formerly of Mapzen) who created Pelias!

I got an API key from them and replaced the Mapzen URL with "https://api.geocode.earth" and everything worked!

[2018-02-07 04:46] Nyholm commented on #808
Awesome. Could you make a PR to add this new provider. Basically just copy the mapzen provider and add a new namespace.

[2018-02-09 10:30] jbelien commented on #807
Created PR #816 :)

[2018-02-09 12:43] barannd commented on #811
Do you have a solution? :)

[2018-02-09 12:47] Nyholm commented on #811
Im not sure at all.
Could you debug this a bit more. Does it get stuck in a loop?

[2018-02-09 13:42] barannd commented on #811
Ok I'm really sorry to inform you that i ran into an endless loop in my application which triggers the error. Everything works fine. Thanks for the hint and the fast response!

[2018-02-09 13:42] #811 closed

[2018-02-12 20:19] Baachi commented on #762
Do we still need this provider? We rely on the PSR7 standard and guzzle and httplug have already a caching mechanism built-in. So in my opinion we can deprecate this provider and rather document how migrate to the "new cache mechanism".

WDYT?

[2018-02-17 16:38] #794 closed

[2018-02-18 20:52] chriscalip commented on #809
Currently de-facto installed providers are done via directory `/src/Provider`. Until a use-able api to install providers for geocoder-php to use.. this is what we have.

[2018-02-19 00:45] chriscalip opened #831 "Create provider for Mapbox"

[2018-02-19 01:00] chriscalip commented on #831
https://github.com/mapbox/mapbox-gl-geocoder/issues/146

[2018-02-19 09:07] jbelien commented on #831
Actually it's more https://www.mapbox.com/api-documentation/#geocoding than the `mapbox-gl-geocoder` JavaScript library :)

I'll have a look when I have a bit of free time, it shouldn't be to difficult to add this provider :)

[2018-03-07 11:03] jbelien opened #834 "Documentation: Address::getLongitude() & Address::getLatitude()"
I just noticed that on http://geocoder-php.org/Geocoder/ it says :

Indeed, in `Address` model, `getCoordinates()` function is available, but `getLongitude()` and `getLatitude()` are not available.

Did I miss something or is the documentation not up-to-date ?

PS: I also tried to find where http://geocoder-php.org/Geocoder/ documentation is on GitHub but could not find it. I only found the homepa

[2018-03-07 11:08] Nyholm commented on #834
`Address::getLatitude()` and `Address::getLongitude()` has been removed. You are correct, the documentation is not up to date. All the up to date documentation is in the readme of this repo: https://github.com/geocoder-php/Geocoder

Maybe @willdurand can tell us how to update the website?

[2018-03-07 11:18] jbelien commented on #834
That's what I thought 😃

Could be usefule IMHO !

[2018-03-07 21:37] barannd opened #835 "Set response locale"
Is there a way to set the locale for the geocode response?

[2018-03-08 07:34] barannd commented on #835
Ok got it. I didn't use the GeocodeQuery to create my request. But I think the correct method you mean is `GeocodeQuery::withLocale`. Thank you very much!

[2018-03-21 08:09] Nyholm commented on #835
Yes. Perfect

[2018-03-21 08:09] #835 closed

[2018-03-21 18:47] TerjeBr opened #839 "Use Address object as query, instead of just one line of free text"
You have this class `Geocoder\Model\Address` that implements `Geocoder\Location`. But is is only used when returning responses/results.

What I would like to see is a way to also pass this as the request to the geocoder. Currently it is only possible to pass the address in the request as free formatted text string.

The background for this is that I noticed that at mapquest.com you can pass someth

[2018-03-21 18:53] Nyholm commented on #839
Thank you for this issue. You could pass the GeocodeQuery some arbitrary data. See https://github.com/geocoder-php/Geocoder/blob/master/src/Common/Query/GeocodeQuery.php#L131

I would love to see a PR to MapQuest that supports this.

[2018-03-21 19:38] TerjeBr commented on #839
Yes, I know I can use `GeocodeQuery->withData()` to send arbitary data along with the query.

But my question was if you would consider changing the `GeocodeQuery` class, along with the interface `Query` to allow for a more direct or explicit reference to an object implementing `Geocoder\Location`?

Then various providers could may be call `$query->getLocation()` as well as `$query->getText()`?

A

[2018-03-21 19:45] TerjeBr commented on #839
May be a solution is to just extend `GeocodeQuery` and send that. If I make a PR where would that extended `GeocodeQuery` live? In the MapQuest provider directory, or in the Common directory?

[2018-03-21 19:51] Nyholm commented on #839
No, that would be a BC break.

Right now there is over 30 providers and only one need this function. That does not sound like a good abstraction.

Since this is specific feature for MapQuest. I suggest you use `GeocodeQuery::withData` and make your changes only to the MapQuest provider.

[2018-04-03 21:28] TerjeBr commented on #711
Unfinished work on this can be found in #447

[2018-04-05 09:40] burzum opened #841 "Nominatim provider requires non-existent package"
There is no such package, just different implementations of it.

[code]

[2018-04-05 09:44] Nyholm commented on #841
Thank you for this issue.

This is mentioned in [our docs](https://github.com/geocoder-php/Geocoder#installation) and  [HTTPlug docs](http://docs.php-http.org/en/latest/httplug/users.html).

And also, did you do a search of packagist before writing this issue? [Packagist shows plenty](https://packagist.org/providers/psr/http-message-implementation) =)

Im going to close this issue now.

[2018-04-05 09:44] #841 closed

[2018-04-05 09:47] burzum commented on #841
@Nyholm yes, my stupid fault. I just realized that I just need to add some adapter. The point was that I've tried to install the adapter without a http adapter and it pointed to `psr/http-message-implementation` which is on packagist just a list of packages instead of a package.

[2018-04-05 09:58] Nyholm commented on #841
No worries.
I have an open issue on composer to give you a better user experience in this case.

[2018-04-05 09:59] burzum commented on #841
Awesome, thanks again!

[2018-04-05 20:02] burzum opened #843 "No interface for formatters?"
I'm building a wrapper for this library and a service class for my app and when I wanted to make the formatter exchangeable I realized that I can't typehint the setter against an interface.

https://github.com/geocoder-php/Geocoder/blob/master/src/Common/Formatter/StringFormatter.php

If you agree I'll create a PR and add a Formatter interface that implements the format() method.

[2018-04-05 20:12] Nyholm commented on #843
Hm. Are the StringFormatter ever referenced anywhere?
Also it seams like we only have e one formatter... I think you are correct. We need an interface for this.

[2018-04-05 20:16] burzum commented on #843
I'm not sure. :) We're already using some other lib for address formatting but it's ancient AFAIR, I would have to look it up, might do it later. But I would prefer to use one package and geocoder seems to be nice and modern.

It is *very* likely that we'll have to implement our own address formatters because we feature 18 languages in translations and even more without but the editors and our cli

[2018-04-05 20:30] Nyholm commented on #843
Thank you. You are very much correct. But we might use a different signature.

Say “format(Location $l)”. That would allow us to have JsonFormatter or MyCustomObjectFormatter.

[2018-04-05 20:33] burzum commented on #843
@willdurand what if the config is passed as first arg (array) into the constructor? This would allow you to configure any formatter the same way.

[2018-04-05 20:57] willdurand commented on #843
that would not work, see this formatter like `printf()`

[2018-04-05 21:07] burzum commented on #843
Why wouldn't this work? If we merge it with a default array it would be always present.

[code]

The 2nd arg of format() could become an array as well and then simply:

[code]

[2018-04-25 20:59] avitruk opened #847 "Puli Factory is not available exception"
Hi, I'm using the latest version of Geocoder:

[code]

[code]

The second line (initing new instance of provider) always throws an exception:

[code]

PHP v7.1.13

[2018-04-26 06:18] Nyholm commented on #847
Hey.

You get some more exception output that this, right? I would say that you have not installed `php-http/message` and/or `php-http/guzzle6-adapter`. Because if you have, the `php-http/discovery` would find classes for you.

[2018-05-07 20:54] sheub opened #848 "Nominatim Provider: osm_id conversion to int with intval"
Hi there,
I had issues with the conversion of the osm_id to integer.
nominatim.php at 185
[code]
As an example of request giving me issue: Einfach unverpackt Kochstraße 6 Leipzig Germany
Its node ID is 4201897293, and the geocoder-php returned me 2147483647.

Modifying the code to get directly the string value solved my issue.

Why not keeping this value as string? There won't be any arithmetic pe

[2018-05-09 22:31] sheub commented on #848
Your right, I did the test on a 64 architecture and got correct result.

[2018-06-01 01:55] Yamakasi opened #851 "Get address from GoogleMaps using Postalcode/Housenumber"
As the examples are not completely clear to me I wonder if it's possible to get an address from GoogleMaps using Postalcode/Housenumber and also get the distance between 2 addresses if you receive those using the postalcode/housenumber.

[2018-06-01 03:29] Yamakasi commented on #851
OK found the address part, this is the same as the JS way.

Then I would like to know if I could get a route like:

`http://maps.googleapis.com/maps/api/directions`

[2018-06-01 07:14] jbelien commented on #851
Hello @Yamakasi,

Even though Google Maps provides a [Routes & Directions API](https://cloud.google.com/maps-platform/routes/), that's not the goal or purpose of *Geocoder PHP* project.
*Geocoder PHP* is only focused on geocoding.

[2018-06-02 00:16] Yamakasi commented on #851
@jbelien Thanks I thought so, still I use it as it has a great way of reverseQuery which saves me writing it my own :)

[2018-06-02 09:32] jbelien commented on #851
That's exactly the point 😉

And if you want to switch from Google API to any other ... you don't have to change anything in your code, just change the provider 👍

[2018-06-05 14:48] jbelien opened #852 "AdminLevel documentation"
I may have missed it but I didn't find any documentation about `AdminLevel`.

If I understand correctly it goes from 1 to 5 ; but what's level 1 and what's level 5 ?
Is it a standard ? Where can I find documentation about this ?

Thanks a lot :)

[2018-06-05 14:51] Nyholm commented on #852
That is an excellent question. I'm sorry but the answer is "it depends".

Even with the same provider, you can never be sure that level 3 is the same thing. For one lookup level 3 may be state for an other lookup it may be city.

But yes, it should be documented better.

[2018-06-05 14:54] jbelien commented on #852
Shit, that's what I was afraid about :P

But good to know that I can do "whatever I want to" with it ! :D
I suppose 1 is the "bigger" (like country) and 5 is the smaller (like "neighborhood") or is it the other way around ?

[2018-06-05 14:57] jbelien commented on #852
Okay, I'll have a look to some providers and do "something similar" with mine ! 👍

Thanks !

[2018-06-05 14:58] Nyholm commented on #852
Great.
If you don't mind, could you add a row or two about this in the documentation?

[2018-06-05 14:59] jbelien commented on #852
I do not mind !
I'll submit a PR in the next few days ! Do not hesitate to ping me if I forget 😂

[2018-06-07 11:51] eileenmcnaughton opened #853 "Provide valid User-Agent for Nominatim"
Per https://github.com/eileenmcnaughton/org.wikimedia.geocoder/issues/1 it has been reported to us that

"The nominatim.openstreetmap.org states that users must "provide a valid HTTP Referer or User-Agent identifying the application (stock User-Agents as set by http libraries will not do)."

The User-Agent is currently set to the default GuzzleHttp one. This is in violation of the usage policy."

[2018-06-07 13:34] Fabex commented on #586
Hello I need this provider for a project. What is the status on this provider ?
if nobody work on it I will start a new PR.

[2018-06-07 13:36] fede91it commented on #586
I no longer use this package so do the pr if you would

[2018-06-07 14:06] jbelien commented on #853
Thanks for the notice !

I'll have a look at this to se how we could fix the Nominatim provider to be compliant with the usage policy !

As an OpenStreetMap Belgium board member, I feel a bit ashamed about this... 🙈

[2018-06-07 15:21] Fabex commented on #586
OK, I already start the refacto. I will send a PR soon

[2018-06-07 22:15] eileenmcnaughton commented on #853
That's has made me smile. Also - I like your avatar! Everything is awesome

[2018-06-08 08:35] jbelien commented on #853
I just had a look at it !
I can fix it ; really not an issue but I need advice from the team ( ping @Nyholm @willdurand ) !

To set `Referer` and `User-Agent` headers, I'll need to replace the use of `getUrlContents()` from the parent `AbstractHttpProvider` class by its own (like I did for my provider here : https://github.com/geo6/geocoder-php-geo6-provider/blob/master/Geo6.php#L173-L198).

I was

[2018-06-08 14:31] jbelien commented on #852
I found Google Maps API documentation about this : https://developers.google.com/maps/documentation/geocoding/intro#Types.

I guess we can base our documentation on this !

[2018-06-10 20:54] Fabex commented on #586
Hello community,
here the geocoder for Algolia https://github.com/Fabex/geocoder-algolia-places-provider.
For the moment there is no units tests, I will do it soon, but I wanted to get your opinion.

So now what should I do to add it on geocoder php.
Should I fork and make a PR on this repo ?
Because I saw that all the other provider have their own repository but in read only and my geocoder is a

[2018-06-11 13:48] Fabex commented on #586
here the PR
https://github.com/geocoder-php/Geocoder/pull/854

[2018-06-12 08:40] Yamakasi commented on #851
I wanted to update this as I get different results when I query a postalcode / housenumber what goes OK when I use the direct Google API, also with reverse geocoding.

With the direct API of Google I do a postalcode / housenumber lookup, I get the city, streetname, country of the postalcode, this without using the country in the earlier query and do a reverse lookup using this full address.

The f

[2018-06-12 14:00] Yamakasi opened #855 "OpenCage Provider should output more data"
Should the output of the OpenCage provider not use much more data ?

This is an example what they can output (with their own lib) and I think there is very usefull information in there:

[code]

[2018-06-13 07:36] Yamakasi commented on #851
OK, I can update this. I missed a step between the lookups which I did using the javascript against Google earlier.

I will close the tocket, thanks for the help!

[2018-06-13 07:36] #851 closed

[2018-06-13 08:17] Yamakasi opened #856 "locality and subLocality are mixed on providers"
It seems that locality and subLocality are mixed between providers, is this known ?

I have tested this between Google and OSM/OpenCase

OSM and OpenCase seem to be equal.

`///////////////////////////////////// Google //////////////////////////////////////////////

Geocoder\Model\AddressCollection Object
(
    [locations:Geocoder\Model\AddressCollection:private] => Array
        (
            [0]

[2018-06-13 22:33] eileenmcnaughton commented on #853
Looks good to me :-) But I guess you need @Nyholm @willdurand input

[2018-06-14 06:11] jbelien commented on #853
Indeed :)
If I don't have any news, I'll just submit a PR on Nominatim provider without adding the "headers" functions to `AbstractHttpProvider` class in the next few days.

[2018-06-16 19:30] BillyFigueroa opened #857 "Could not execute query"
I am no longer able to query geocoder with the OpenStreetMap provider

Here is a snipper of how I am importing, declaring and using it all

[code]

The code breaks in this try logic. Did something change recently with OpenStreetMap and if so, did you guys go back and change older versions of geoccoder? I am having these issues on the version below

[code]

The error I see is the following...

[cod

[2018-06-16 21:39] jbelien commented on #857
Hello @BillyFigueroa ,

The **Nominatim** provider works just fine.
I have no idea what's the **OpenStreetMap** provider but I suspect it's probably a really old one.

I suggest you to switch to [**Nominatim** provider](https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/Nominatim). It's the provider that queries OpenStreetMap database.

[2018-06-17 18:51] BillyFigueroa commented on #857
@jbelien a simple "just upgrade and use the new providers" is not really an answer. I am not trying to be an a** but OpenStreetMap worked before with out needing to have some "Nominatim server" to use. Those are changes I seem to be forced into making with out upgrading. The issue I am having is, I can understand not supporting an old Provider, but with out me upgrading my version of this library,

[2018-06-17 19:12] jbelien commented on #857
I agree that "just upgrade and use the new providers" is not an suitable answer but I'm a recent contributor to Geocoder PHP and I have absolutely no knowledge about an **OpenStreetMap** provider (the one you seem to use) and so I can not fix that provider or even try to see what's not working.

The issue is probably the fact that OpenStreetMap decided to force the use of HTTPS ; including https:/

[2018-06-18 14:05] BillyFigueroa commented on #857
@jbelie I appreciate that. I did make a temporary fix to just simple add https to the url but I had to modify their code. I will look into Nominatin however setting up a server seems like a lot of work based on what I have read. Seems like you have to modify the server (Apache or Nginx etc). Do you have any Providers who do not need an API key? I will go read over the docs and see what the options

[2018-06-18 14:19] jbelien commented on #857
As long as you respect [Nominatim Usage Policy](https://operations.osmfoundation.org/policies/nominatim/), you can use Nominatim provider by directly send your request to https://nominatim.openstreetmap.org/ (this service does not require an API key) 👍

To use https://nominatim.openstreetmap.org/ with the Nominatim provider, here is what you need to do :

[code]

About the HTTP Referer and User-Ag

[2018-06-24 01:51] mwisner opened #860 "freegeoip.net will be discontinued on July 1, 2018"
According to https://github.com/apilayer/freegeoip#readme the freegeoip.net service will be discontinued on July 1st, 2018.

It's suggested in that announcement to use ipstack which doesn't appear to be supported by this package.

Should the freegeoip provider be removed and / or ipstack added?

[2018-06-26 10:35] juragandotid opened #861 "Can i parser respon from google maps provider to json?"
`Geocoder\Model\AddressCollection Object
(
    [locations:Geocoder\Model\AddressCollection:private] => Array
        (
            [0] => Geocoder\Provider\GoogleMaps\Model\GoogleAddress Object
                (
                    [id:Geocoder\Provider\GoogleMaps\Model\GoogleAddress:private] => EiczNDkgUyBTdGF0ZSBTdCwgU3lyYWN1c2UsIE5ZIDEzMjAyLCBVU0EiGxIZChQKEgmX5rq9u_PZiRHTH3j5h04aXxDdAg

[2018-06-26 14:33] fedeisas commented on #831
I started working on this: https://github.com/fedeisas/mapbox-provider

I'm not sure I made the right choices when it comes to converting Mapbox features into Address components. But it's a start.

How can we make it an official provider @willdurand?

[2018-06-26 15:19] Nyholm commented on #831
When you are happy with your implementation, feel free to add a link to in in the readme.

Im not sure we have any specific requirements for including it in this repo. But send a PR and I'll review it.

[2018-06-26 16:31] Nyholm commented on #861
Sure. Have a look at our dumpers: https://github.com/geocoder-php/Geocoder#dumpers

[2018-06-26 16:31] #861 closed

[2018-06-26 16:32] Nyholm commented on #860
Thank you.
I suggest to add ipstack. There is no need to remove the provider at this time.

[2018-06-26 16:37] Nyholm commented on #857
As @jbelien suggests, this is not a change in the client/provider. I see that you are using version 3, it has not [been updated in a year](https://github.com/geocoder-php/Geocoder/commits/3.x). I think there is an issue on the server side. If changing to HTTPS works then that is fine.

Also note that version 3 has [gone end of life](https://github.com/geocoder-php/Geocoder#versioning) which means

[2018-06-26 16:47] Nyholm commented on #853
Thank you for this issue.

The "correct" way of doing this is something like: (not sure if "correct" is the correct word...)

[code]

However, Since **all** users need this it might be better (more developer friendly) to add an argument to the Nominatim constructor as @jbelien suggests.

-----------

Could you provide such PR?
Note, it may be useful to create two PRs. The first will modify `Abstra

[2018-06-26 16:49] Nyholm commented on #856
Yeah, This is actually a "wont fix". It is the geocoder servers that decides that data to return and that is nothing we can change.

[2018-06-26 16:49] #856 closed

[2018-06-26 16:49] Nyholm commented on #855
I agree. Could you send a PR?

[2018-06-26 16:50] Nyholm commented on #852
Sure. That seams reasonable.

This issue is related to #856

[2018-06-26 16:52] BillyFigueroa commented on #857
@jbelien thanks. I will look at changing my code when I have time to try this. @Nyholm thanks. I will see if updating to version 4 using his example works for me. My fix temporarily fixes the problem. I just need the time to make the change and test in dev

[2018-06-26 16:59] Nyholm commented on #847
That is super weird. I know that Magento users has this issue (long story but the bug is at Magento's) and I know this issue existed before 1.0 of php-http/discovery.

It is fine that this exception is being thrown but it should be caught within the php-http/discovery library

[2018-06-26 20:33] jbelien commented on #853
Thanks for the suggestions @Nyholm !
I'll try to take care of it begin of July !

[2018-06-26 21:29] landsman opened #863 "Street number / Premise"
Hi, on my address I am getting null for getStreetNumber() but there is privated key "premise" with the right value of street number but without getter. Why?

Thanks

[2018-06-27 00:57] juragandotid commented on #861
`require_once('vendor/autoload.php');

use Geocoder\Query\GeocodeQuery;
use Geocoder\Query\ReverseQuery;

$httpClient = new \Http\Adapter\Guzzle6\Client();
$provider = new \Geocoder\Provider\GoogleMaps\GoogleMaps($httpClient);
$geocoder = new \Geocoder\StatefulGeocoder($provider, 'en');

$result = $geocoder->reverseQuery(ReverseQuery::fromCoordinates('43.0481','-76.1474'));

$dumper = new \Geocode

[2018-06-27 07:11] Nyholm commented on #861
Could you please use words instead of non formatted code?

[2018-06-27 07:13] Nyholm commented on #863
Hey.
What provider are we talking about?

[2018-06-27 08:54] Nyholm commented on #853
FYI https://github.com/geocoder-php/Geocoder/pull/864

[2018-06-27 09:30] jbelien commented on #861
Hello @juragandotid ,

First of all, could you have a look at ["Mastering Markdown" guide](https://guides.github.com/features/mastering-markdown/) to display pieces of code the right way.
Then please do not copy paste such a huge amount of code, it's useless. Try to only copy-paste the useful information.

I'll have a look at your issue.

[2018-06-27 09:33] juragandotid commented on #861
@jbelien i wanna parse this response
using dumper `["formattedAddress":"Geocoder\Provider\GoogleMaps\Model\GoogleAddress":private]=>
      string(23) "Syracuse, NY 13202, USA"`

could you give me example please..

Thank you.

[2018-06-27 09:57] jbelien commented on #861
As you can see in the error message *Argument 1 passed to Geocoder\Dumper\Gpx::dump() must implement interface Geocoder\Location, null given*, you have to send a *Location* to `Gpx::dump()` function.

In your example, you send a `reverseQuery()` result (and on top of that, the result is apparently `null` in your case).

So, you have to go through every result (or use `$results->first()` to have th

[2018-06-28 12:23] Nyholm opened #867 "Create change log for FreeGeoIp"
We should release 4.1.0.

Can you write this @Stadly?

[2018-06-28 12:30] Nyholm commented on #767
Closed because of inactivity.

[2018-06-28 12:30] #767 closed

[2018-06-28 12:30] Nyholm commented on #797
Closed because of inactivity.

[2018-06-28 12:30] #797 closed

[2018-06-28 12:30] Nyholm commented on #793
Closed because of inactivity.

[2018-06-28 12:31] Nyholm commented on #801
Closed because of inactivity.

[2018-06-28 12:31] #801 closed

[2018-06-28 12:31] Nyholm commented on #809
Closed because of inactivity.

[2018-06-28 12:31] #809 closed

[2018-06-28 14:32] Stadly commented on #867
See https://github.com/geocoder-php/Geocoder/pull/868.

[2018-06-28 14:34] #867 closed

[2018-06-28 14:37] Nyholm commented on #867
4.1.0 is released. Thank you!

https://github.com/geocoder-php/free-geoip-provider/releases/tag/4.1.0

[2018-06-28 14:39] Nyholm opened #869 "Add Here provider to readme"
We need to add the Here provider to the provider list in the readme.

Ping @sheub could you fix that?

[2018-06-28 15:28] jbelien commented on #869
Done : #870 😄

[2018-06-28 17:23] #869 closed

[2018-06-28 23:13] Yamakasi commented on #855
@Nyholm I need to dive into it, can be about 4 weeks when I have time for it as I have implemented Nominatim/OSRM/Libs with it so I'm pretty happy I got this far in < 2 weeks :)

[2018-06-28 23:14] Yamakasi commented on #856
Mhh, that is strange, you can make a default what you want to output by modifying the object you get back, I think that should be done at any time to get it lined up.

[2018-06-29 05:53] Nyholm commented on #856
If I geocode the address “foobar” and google server tells me “the subLocallity is xxx” and the OSM tells me “the subLocallity is yyy”, there is nothing the geocoder provider can do to “correct” this. It is simply an api client.

If you think I’m wrong, please provide a PR that fixes this issue and I’ll be happy to review it.

[2018-06-29 05:55] Nyholm commented on #855
That is great. I’ll be happy to review it in about 4 weeks. :)

[2018-06-29 08:00] jbelien commented on #856
I agree with @Nyholm here ; we rely on the information returned by the API.
No reason to not "trust" what the API returns and I believe we shouldn't change (or mess) with what is returned by the API ; it will be confusing for the end users.

[2018-06-29 08:38] Yamakasi commented on #855
Let's hope I can make start then ;)

[2018-06-29 08:42] Yamakasi commented on #856
I don't agree. If you aggregate results you need to make sure the results are the same format, they are not. The library is the layer where it should happen, not somwhere outside as the library already gives another output then the provider does by itself, it's not 1:1 already.

I see what I can do in a while as I don't need it now and went full OSM, but multiple resources should give the same for

[2018-07-02 09:51] #834 closed

[2018-07-02 10:01] jbelien commented on #848
I just found documentation about this topic :

See documentation : https://wiki.openstreetmap.org/wiki/64-bit_Identifiers

[2018-07-02 10:01] #848 closed

[2018-07-06 12:34] #853 closed

[2018-07-09 21:00] fedeisas commented on #831
@Nyholm done :-)

[2018-07-11 04:00] juragandotid opened #877 "Cannot get city"
Could not get city providers google maps, i think null or problem. Please review

this is my script :
[code]

Please check my script my be i'm typo.

Thank You.

[2018-07-11 05:41] Nyholm commented on #877
Maybe your coordinates is is not near a city =)

[2018-07-11 07:38] jbelien commented on #877
Could give us the coordinates and the result of the `reverseQuery()` function ?
Thanks :)

[2018-07-11 09:13] juragandotid commented on #877
@jbelien this is my cordinate Lat : -6.1744, Lon: 106.8294.
and this is the response : `Result :  Jalan Titian Indah  Jakarta Raya 10110 Indonesia`

[2018-07-15 15:07] juragandotid commented on #877
@Nyholm i think this is have response full address number , address name , sublocalcity, city , state , postalcode, country. But the response only get address number, address name, state , postalcode, country.

this is url google maps with my example cordinate :
`http://maps.googleapis.com/maps/api/geocode/json?latlng=-7.2492,112.7508&sensor=true`

The response :
`{
   "results" : [
      {

[2018-08-10 09:13] romaricdrigon commented on #857
I just had the same issue. It looks like Nomatim moved to `https` only, and Geocoder is not able to handle the "redirect" response he got, hence the "no results" issue.

To make the issue worse, the OpenStreetMap provider has an hard-coded URL you can't change. And if you are using some "old" Symfony version, you can't upgrade the bundle past 4.2.0.

The solution is then to add a custom provider w

[2018-08-10 09:37] romaricdrigon commented on #857
Hello @jbelien,

Technically you are true, and you can do that with the latest versions, but with Geocoder bundle 3.xx or 4.xx you can't. Hence my workaround.

More specifically, your point is true regarding `Nomatim` provider, but that provider is not available on Geocoder bundle 3.xx or 4.xx. It has only `openstreetmap`:
https://github.com/geocoder-php/BazingaGeocoderBundle/blob/4.2.0/Dependency

[2018-08-10 10:29] jbelien commented on #857
Oh okay, I get it now !
Sorry for the noise then and thanks a lot for your workaround 👍

[2018-08-11 13:43] jGielen commented on #860
https://github.com/geocoder-php/Geocoder/pull/879

[2018-08-21 11:42] jGielen commented on #860
@mwisner in the mean time you can change the url

[2018-08-24 14:15] geodeveloper opened #881 "Chain Provider catch Exception"
Hi,

Currently, the chain provider only logs the exceptions, there is no way to catch the exceptions and we always get an empty `AddressCollection` in case something went wrong. There is no way to know if the collection is empty because there were no results or if an error occurred.

A simple customized solution would be to extend the class `Chain` and throw the exception but it's not possible sin

[2018-08-29 10:09] geodeveloper commented on #793
Same, here **Administrative level 3 is defined twice**. I guess the correct solution would be to get the first administrative area level of the same type.

[2018-09-12 11:28] ruudk opened #882 "[RFC] CacheProvider > Cache ReverseQuery with less precision"
We're using Geocoder and we love it!

Since Google is going to charge a lot of money for their Google Maps api we were looking into ways to reduce our API calls.

We do a lot of reverse queries (lat/long to city/country) and want to cache these queries with less precision. For example `52.3705273, 4.891031` could be cached with a precision of 4 decimals: `52.3705, 4.8910`

Our plan is to change th

[2018-09-12 11:29] ruudk commented on #762
I would keep it. Having a separate plugin that gets the `Query` object and then calculates the cache key is valuable. For example see https://github.com/geocoder-php/Geocoder/issues/882

[2018-09-12 12:46] Nyholm commented on #882
I use the HTTPlug's cache plugin to make sure I do not use as many HTTP requests to Google. By introducing some more logic to this CacheProvider will make it more useful. HTTPlug has no change to "trim" the query like this.

Big 👍

[2018-09-14 16:03] #831 closed

[2018-09-14 16:04] #882 closed

[2018-09-14 16:18] jbelien commented on #860
The ipstack provider is now merged and will be release in the next few days 🎉

[2018-09-14 16:18] #860 closed

[2018-09-14 16:27] jbelien commented on #855
Hello @Yamakasi ,

Any news about this ? 😃

[2018-09-14 17:31] Nyholm opened #886 "Add AlgoliaPlaces and Mapbox in Readme table"
We need to modify this file to add those new providers.

https://github.com/geocoder-php/Geocoder/blob/master/README.md

[2018-09-14 17:55] #886 closed

[2018-09-18 17:37] Yamakasi commented on #855
@jbelien he, no not yet. It was quite some heavy integration I needed to do with cache and needed a huge refactor in my codebase so I'm actually just done and be able to do other stuff :)

[2018-09-26 13:08] Yamakasi opened #891 "Get type (and other privates) from nominatim"
I wonder if there is a way to get the type property from the address object and also the other info which is in a nominatim response object (and maybe others as well).

[2018-09-26 13:50] jbelien commented on #891
Hello,

You can get the `type` property with [`getType()` function](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Nominatim/Model/NominatimAddress.php#L160).
You can see all the properties available in [`Model/NominatimAddress.php`](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Nominatim/Model/NominatimAddress.php).

[2018-09-26 14:01] Yamakasi commented on #891
Hi,

Thanks! I would have believed the same but I don't get the options on an Address object so I got confused. I already fiddeled a little but with the code to see why. Can you give a small example maybe ? I can do a toArray() and such, getProvidedBy()...

[2018-09-26 14:37] jbelien commented on #891
I don't have time to investigate this right now but I'll do it ASAP :)

[2018-09-26 14:45] Yamakasi commented on #891
Thanks, I'm testing also using the Nominatim tests from the repo, let me know if you find something.

Should it work with registering the provider as well ?

[2018-10-05 16:09] bazo opened #892 "[HostIp Provider] Doesn't work with docker localhost"
Hi,

i upgraded today from version 3.3.2 of geocoder to the new version
and i was surprised that suddenly the geocoding stopped working on localhost

as i am running on docker my ip is not 127.0.0.1

the service api.hostip.info returns data like Private address, country XX which the old version processed ok and all was working as expected.

The new version checks for this and doesn't return an add

[2018-10-12 11:13] garak commented on #847
I'm getting the same exception (sadly, in production only) with following installed deps

geocoder-php/common-http           4.1.0
geocoder-php/google-maps-provider  4.2.0
kriswallsmith/buzz                 v0.15.2
php-http/buzz-adapter              1.0.0
php-http/message                   1.7.0
willdurand/geocoder                4.2.0

[2018-10-12 12:19] sheub opened #893 "Cache and providers Terms of service"
I just would like to get your thought on this:
Some providers (e.g. I know [mapbox](https://www.mapbox.com/tos/#[YmouYmoq])) have a strict policy and doesn't allow to cache Geocodes.
Isn't it an infraction to use the caching feature of Geocoder-php together with such a provider?

Hereafter the § of Mapbox Terms of service.

[2018-10-12 13:45] garak opened #894 "No message factories found. To use Guzzle, Diactoros or Slim Framework factories install php-http/message and the chosen message implementation"
I'm getting such error when trying to instantiate `GoogleMaps`.
It looks like there's no way to pass a MessageFactory to it, and sadly MessageFactoryDiscovery is failing here.
I'm pretty sure that I'm doing something wrong and this is more a support request than a bug report.

Here is the super crazy part: if I install dev requirement, it works. If I don't (like in production), it fails.

thanks i

[2018-10-13 16:46] jbelien commented on #894
Hello @garak ,

Did you install `php-http/message` as specified in the [`README` file](https://github.com/geocoder-php/Geocoder/blob/master/README.md#summary-just-give-me-the-command) ?

You will need `php-http/guzzle6-adapter` and `php-http/message` on top of the Google Maps provider to make it work :

[code]

[2018-10-13 19:46] garak commented on #894
Thanks for your reply. I already installed all required packages

[2018-10-15 09:23] aamalain opened #895 "Provider GoogleMapsBusiness is missing channel query key"
Provider GoogleMapsBusiness should accept "channel" attribute in __construct and use it in buildQuery

[2018-10-15 09:29] jbelien commented on #895
Hello @aamalain ,

I'm not familiar with Google Map Business.
Could you give us a bit more information and documentation about this `channel` key ?

Thanks a lot.

[2018-10-15 14:54] aamalain commented on #895
The channel query string param is used only for analytics. For example, if you use the same account on multiple domains, the channel might contain the domain name.

Here is some documentation about it:
https://developers.google.com/maps/premium/reports/usage-reports#channels

The URL will be like:
https://maps.googleapis.com/maps/api/js?v=3
&client=gme-yourclientid
&signature=your_signature
&chann

[2018-10-15 14:57] jbelien commented on #895
Understood.
I guess it's an optional parameter, right ?

I'll try to find some time to add it in the [Google Maps Geocoder provider](https://github.com/geocoder-php/google-maps-provider) ! 👍

[2018-10-15 14:58] aamalain commented on #895
yes, it is optional

[2018-10-15 21:21] maxhelias commented on #895
You have already this feature [here](https://github.com/geocoder-php/google-maps-provider/blob/master/GoogleMaps.php#L169)

Use it like this : `GoogleMaps::business($client, $clientId, $privateKey, $region, $apiKey, $channel)` :wink:

[2018-10-16 05:19] jbelien commented on #895
Even better, thanks @maxhelias ! 🎉

[2018-10-16 05:19] #895 closed

[2018-10-29 12:02] garak commented on #894
Opened an issue on https://github.com/php-http/discovery/issues/114

[2018-10-29 14:01] garak commented on #894
As explained in mentioned issue, I solved by replacing Buzz with Guzzle.
Thanks anyway.

[2018-10-29 14:01] #894 closed

[2018-10-30 16:18] cleoni opened #897 "provider package for php 5.6"
Hello,
I am trying to make version 4 to work on a server using 5.6 for legacy needs.

Is there any geocode provider package working on php5 with geocoder 4?

[2018-11-08 15:56] jbelien commented on #891
Hello again @Yamakasi ,

I checked and there is nothing wrong, as expected you can get the `type` property with [`getType()` function](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Nominatim/Model/NominatimAddress.php#L160).

Here is an example :
[code]

[2018-11-08 16:05] jbelien commented on #892
Hello @bazo ,

I'm a bit confused here (and I never used HostIP provider myself).

If I compare current version of HostIP provider ([HostIpTest.php#L44](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/HostIp/Tests/HostIpTest.php#L44)) with Geocoder 3.x version of HostIp provider ([HostIpTest.php#L46](https://github.com/geocoder-php/Geocoder/blob/3.x/tests/Geocoder/Tests/Provider/

[2018-11-08 16:07] jbelien commented on #735
Hello @rayrutjes ,

Any progress on improving `CONTRIBUTING.md` ?

Thanks 😃

[2018-11-08 16:12] jbelien commented on #839
I think that `withData()` is the way to go.

You can see how I use it in my [bpost provider](https://github.com/geo6/geocoder-php-bpost-provider).

[2018-11-08 16:12] #839 closed

[2018-11-08 16:18] #857 closed

[2018-11-08 16:19] jbelien commented on #863
Hello @landsman ,

Did you find a solution to your issue ?

Thanks.

[2018-11-08 16:20] jbelien commented on #877
Hello @juragandotid ,

Any news about your issue ?

Thanks.

[2018-11-11 15:49] simonschaufi opened #901 "How to use the logger"
Hi, I'm using your package with a proxy package https://github.com/geocoder-php/GeocoderLaravel.

I would like to log the Exception thrown here:

https://github.com/geocoder-php/Geocoder/blob/1bd7d59a6725586158d4aae121c23195334cf842/src/Provider/Chain/Chain.php#L123-L128

but I have no clue how to inject a logger. I also didn't find anything in the documentation. Could you please help?

[2018-11-11 23:33] TerjeBr commented on #711
PR #447 was @gmauricio work. I had nothing to do with it. I just linked his work to this Issue.

[2018-11-12 09:18] jbelien commented on #711
Oh, sorry about that ...

I forward the question to @gmauricio then : Would you have some time to work on the Google Maps Places provider (based on your PR #447) ? :)

[2018-11-15 10:01] JonathanBaudoin opened #902 "Can not install "google-maps-provider" because if requirements"
Hello,

I'm trying to install `composer require geocoder-php/google-maps-provider`,  but I can't. I have these errors :
[code]

There is an incompatibility between `geocoder-php/common-http` which requires `php-http/httplug ^1.0` and `php-http/guzzle6-adapter` which requires `php-http/httplug ^2.0`.

Did I miss something, or there is an issue ?

I precise that for my test, I only install Symfony 3

[2018-11-15 10:06] Nyholm commented on #902
Hey.
You are doing nothing wrong. We just have not made support for HTTPlug 2.0 yet. I added a PR for that.

(Yes, it is always this simple. HTTPlug 1.0 and 2.0 is pretty much the same)

[2018-11-15 10:07] Nyholm commented on #902
Btw, you can install `php-http/guzzle6-adapter: ^1.0` and you will not have this issue.

[2018-11-22 10:46] eugenekurasov opened #904 "Improve ProviderCache"
What are you think about add to ProviderCache flag `isAllowEmptyResult`?

For example:
[code]
When have exceptions from providers the chain catch and return empty ArrayCollection.
This result is saved for 24h. I think will be good point if I don't save empty results.

https://github.com/geocoder-php/Geocoder/blob/35650985d8b69ead88340ca5b75546f7117fad06/src/Provider/Cache/ProviderCache.php#L65-L66

[2018-11-22 11:35] eugenekurasov commented on #904
Other solution for empty result is to add ``lifetimeForEmptyResult``

[2018-11-29 10:02] jbelien commented on #897
Hello @cleoni ,

Unfortunately, as stated in the [`CHANGELOG.md`](https://github.com/geocoder-php/Geocoder/blob/4.0.0/CHANGELOG.md), we drop the support for PHP < 7.0 with the release of version 4.0 !

[2018-11-29 10:02] #897 closed

[2018-11-29 17:11] damonjones opened #909 "Typo means that the same expression is tested twice"
https://github.com/geocoder-php/Geocoder/blob/5cfb6e039e0087aecba7d9aab8b1717b5c9331ff/src/Common/Model/AddressBuilder.php#L112

Should one of these be testing `$this->countryCode`?

[2018-11-30 08:29] #909 closed

[2018-11-30 08:30] jbelien commented on #909
Thanks a lot @damonjones 👍

[2018-12-03 09:03] jbelien commented on #855
See #908 ! 🎉

@Yamakasi if you need more information than the one we added, feel free to submit a PR 😃

[2018-12-03 09:03] #855 closed

[2018-12-03 09:07] eugenekurasov commented on #855
@jbelien can you release OpenCage provider with this changes?

[2018-12-03 09:11] jbelien commented on #855
I'm working on it :)

[2018-12-08 13:25] lathamios opened #912 "Add Apple Mapkit provider"
Apple has recently released it's own js geocoding solution, mapkit.js with generous call limits. It would be great if this could be added as a provider

[2018-12-09 09:45] jbelien commented on #912
Hello @lathamios ,

That would be interesting indeed.
Could you provide a Pull Request with this ?
Or at least documentation on the API ?

I found this (https://developer.apple.com/documentation/mapkitjs/mapkit/geocoder) but nothing about the API behind it.

[2018-12-13 17:21] onassar opened #913 "Having trouble committing to git because of submodules"
I'm getting a bunch of strange submodules errors after running composer against `v4.0.0`. Is there a recommended way of using this library with a repo that's inside of git?

[2018-12-13 18:17] Nyholm commented on #913
Have you read the docs?
https://github.com/geocoder-php/Geocoder#summary-just-give-me-the-command

[2018-12-13 18:19] onassar commented on #913
Ahh, I ran `composer install` agains the downloaded release, but when I just ran `composer require willdurand/geocoder` it ran okay :)

[2018-12-13 18:19] #913 closed

[2018-12-13 18:19] Nyholm commented on #913
Im happy you got it working

[2018-12-16 10:50] dorianrod opened #916 "Installation error"
Hi,

When executing this command as mentioned in documentation : "composer require geocoder-php/google-maps-provider php-http/guzzle6-adapter php-http/message", I have the following message:

[code]

I'm recently using composer, so I have no clue for this issue. Does anyone encounters the same problem and know how to resolve it?

Dorian

[2018-12-17 09:21] jbelien commented on #916
Hello @dorianrod ,
I believe it's related to #902

We already fixed it but we didn't release it yet.
You can fix this by forcing the use of `php-http/guzzle6-adapter: ^1.0` (or apply the fix, see [here](https://github.com/geocoder-php/Geocoder/pull/903/files#diff-c118a87e9c621ee8c790f51a3ad364ca)).

[2018-12-17 09:30] jbelien commented on #916
@Nyholm @willdurand Wouldn't be worth release a new version of `geocoder-php/geocoder` ? 😃

[2018-12-22 10:52] Nyholm commented on #916
Actually, `geocoder-php/geocoder` is not a package.

https://packagist.org/search/?q=geocoder-php%2Fgeocoder&reason=package_not_found

[2018-12-22 10:58] jbelien commented on #916
Oh sorry, I meant `geocoder-php/common-http` of course :)
Thanks for releasing `4.2.0` 👍

[2018-12-22 11:00] Nyholm commented on #904
Oh, Hm.

So the cache store empty responses **if** there is a chain and you got some exceptions, is that correct?

I believe it is always valid to store empty responses. However, we should never store responses if an exception is thrown.

[2018-12-22 11:00] Nyholm commented on #916
Yes. `geocoder-php/common-http` should have had a release a few months ago. I've must forgotten =)

[2018-12-22 11:02] jbelien commented on #916
@dorianrod Your issue should be fixed now with the new release of `geocoder-php/common-http`.

Can you confirm ?

[2018-12-24 09:33] eugenekurasov commented on #904
@Nyholm

Yes we save empty response on error when use chain.

I am agree that empty response is valid response,  but with chain we hide exceptions and this is problem. `lifetimeForEmptyResult` and `lifetime` is like strategy for save for empty and full response.

When `lifetimeForEmptyResult` null then behavior will not changed.
This is just my suggestions for improve Cache provider for more custo

[2018-12-24 09:49] Nyholm commented on #904
I really think it is an issue so I will not close it.

Im not a super fan of doing a workaround the problem. I would be much happier trying to fix the real issue.

Could we change the Chain provider somehow? Say that we allow it to throw exception if (A) an exception is thrown **and** (B) no result is found.

[2018-12-26 10:06] jbelien opened #923 "Google Maps: Keyless access to Google Maps Platform is deprecated."
Since 11 June 2018, we can't query the Google Maps Geocoding API without a key.

That means that tests that are not cached will fail with the following "error".
[code]

I noticed this while working on reviewing PR #918 ; I noticed that Travis was failing and (at first) didn't understood why.

I think it's worth updating the tests by adding API key every time (I'll submit a PR in a few minutes) and

[2019-01-05 15:57] #916 closed

[2019-01-05 15:59] Nyholm commented on #893
You are correct. You should not use the caching features with those providers.

[2019-01-05 15:59] #893 closed

[2019-01-05 16:01] Nyholm commented on #891
Thank you @jbelien.
I see that you solved this issue.

[2019-01-05 16:01] #891 closed

[2019-01-05 16:02] Nyholm commented on #877
Closing due inactivity.

Thank you @jbelien

[2019-01-05 16:02] #877 closed

[2019-01-05 16:02] Nyholm commented on #863
Closing due inactivity.

[2019-01-05 16:02] #863 closed

[2019-01-05 16:03] Nyholm commented on #847
The exception message has been improved in php-http/discovery 1.5

[2019-01-05 16:03] #847 closed

[2019-01-05 16:03] Nyholm commented on #735
Closing due inactivity.

We would still be happy to see a PR.

[2019-01-05 16:03] #735 closed

[2019-01-15 15:50] Carlsans opened #932 "Can't install with composer"
Hi, I'm using a remote server over wish I have no control. I can't use composer nor ask any command to the Apaches server. Is there any way I can get around the installation with Composer ?

[2019-01-23 09:55] vassilaros opened #935 "Add 2GIS Provider"
Is it impossible to add 2GIS provider? (https://2gis.com.cy)

[2019-01-24 07:02] vassilaros commented on #935
I found these websites which are in Russian and I do not understand (one is in English). But it has information about their API.
http://api.2gis.ae/
https://github.com/2gis/mapsapi
https://habr.com/ru/company/2gis/blog/229097/
https://www.npmjs.com/package/2gis-api

I have no more information about api!

[2019-01-24 13:18] jbelien commented on #935
Thanks @vassilaros ! I had a look at the links you posted. I see documentation about their JavaScript library to "display a map" but no documentation about the REST/SOAP/? API for geocoding !

[2019-01-25 07:08] vassilaros commented on #935
Maybe this helps?
http://tile1.maps.2gis.com/tiles?x={x}&y={y}&z={z}

[2019-01-25 08:37] jbelien commented on #935
No, sorry, that's the tiles : the image of the map.
I made some research, the "geocoding" API seems to be `https://catalog.api.2gis.ru/`.
Found (at least) those 2 functions:
- `https://catalog.api.2gis.ru/3.0/suggest/global/list`
- `https://catalog.api.2gis.ru/2.0/geo/get`
But I didn't find any documentation on this...

Maybe you could try to contact them ?

[2019-02-18 16:37] aetiv opened #936 "Bug when use chain and GeoIp2 at first position with cache"
GeoIp2 return empty collection and save it in cache after that next providers(custom) load from cache empty collection instead of using his code

[code]
 $result = json_decode(''); //NULL

[code]
I think there should not be **return '';**, but there should be fatal

[code]
\Geocoder\Provider\Chain\Chain::geocodeQuery everything return empty \Geocoder\Model\AddressCollection();

[2019-02-19 21:52] Nyholm commented on #936
I think you are correct. Is that how other providers do?

[2019-02-25 12:36] aetiv commented on #936
For example GoogleMaps - https://github.com/geocoder-php/Geocoder/blob/80da39e5b4049e00540564fdfe8c2ac94383b86c/src/Provider/GoogleMaps/GoogleMaps.php#L196

method validateResponse() - https://github.com/geocoder-php/Geocoder/blob/80da39e5b4049e00540564fdfe8c2ac94383b86c/src/Provider/GoogleMaps/GoogleMaps.php#L400

Throw FATAL if json incorrect, please see
[code]

return empty AddressCollection()

[2019-02-28 09:23] fritzmg commented on #793
Same here, with __Administrative level 1 is defined twice__ with the following query:
[code]
and following result:
[code]
Weirdly, there is only one `administrative_area_level_1`.

[2019-03-04 17:59] mikebronner opened #940 "Add output language support"
The following was submitted in the GeocoderLaravel repo by @xSoulRootx (https://github.com/geocoder-php/GeocoderLaravel/issues/144), but probably belongs here:

============

### General Information
GeocoderLaravel Version: ^4.0
Laravel Version: 5.7.*
PHP Version: 7.2
Operating System and Version: Ubuntu

### Issue Description
Output language in reverse query don't work

### **Resolve**
vendor\geo

[2019-03-22 16:02] AlifAbhiesa opened #941 "[Google Maps] API access denied"
![image](https://user-images.githubusercontent.com/27193997/54836165-44b6b080-4cf6-11e9-9a10-0097cf5db064.png)
Where i must placed the API KEY for google maps?
because when i try manually it's working, like this
![image](https://user-images.githubusercontent.com/27193997/54836298-834c6b00-4cf6-11e9-860a-f6f62b2d9555.png)

[2019-03-22 16:14] AlifAbhiesa commented on #941
And i already placed my API KEY in here, but still doesn't work

![image](https://user-images.githubusercontent.com/27193997/54837113-3073b300-4cf8-11e9-888a-9a35e367ab76.png)

[2019-03-22 21:40] jbelien commented on #941
Hello @AlifAbhiesa ,

Have a look at the constructor : https://github.com/geocoder-php/google-maps-provider/blob/master/GoogleMaps.php#L97
You'll see that the last parameter is your key.

So it should be something like this:

[code]

[2019-04-10 09:39] franzwilding opened #942 "[Feature Request] Lookup by id (GoogleMapsProvider, Nominatim)"
First of all, thanks for this great php package!

I have a feature request for getting address information by id instead of doing a full search again. I think many applications will store part of the geocoding response and eventually will re-fetch information for the stored part.

At the moment, with GoogleMapsProvider and NominatimProvider you can only do a reverse lookup by lat/lng or re-do the

[2019-04-12 06:43] jbelien commented on #942
Hello @franzwilding ,

That's indeed (IMHO) a good idea !
I think we could add it to our [`Geocoder` Interface](https://github.com/geocoder-php/Geocoder/blob/master/src/Common/Geocoder.php) rather easily.

What do you think about this @willdurand  @Nyholm ?

---

**Documentation:**

- Nominatim: https://wiki.openstreetmap.org/wiki/Nominatim#Address_lookup
- Google Maps: https://developers.google.c

[2019-04-12 06:56] franzwilding commented on #942
Hey @jbelien,

I think an even better solution would be to extend the Gecoder Interface with an id-aware-geocoder interface, because some geocoders will not support an id, I guess?

[2019-04-12 07:24] jbelien commented on #942
You're right but that's not an issue.

Some providers do not support reverse geocoding either (have a look at [AlgoliaPlaces](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/AlgoliaPlaces/AlgoliaPlaces.php#L100) for instance).
For consistency, I would add a `lookup` function to the standard `Geocoder` interace.

[2019-04-12 18:07] jbelien commented on #793
I submitted a PR (#943), could one of you test and confirm the PR fix the issue ? Thanks !

[2019-04-16 11:16] franzwilding commented on #942
Ok cool. I will try to find time to create a PR for this!

[2019-04-25 10:44] xserrat opened #946 "[MaxMindBinary] Fatal error when trying to build an `AddressCollection` - Tag 4.0"
Hi,

I've found a bug when the given IP address returns a `GeoIpRecord` but with the `city` field has a NULL value.

The error is: `Fatal error: Uncaught TypeError: utf8_encode() expects parameter 1 to be string, null given in /var/www/sifo/vendor/geocoder-php/maxmind-binary-provider/MaxMindBinary.php on line 109`.

(https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/MaxMindBinary/M

[2019-04-26 19:48] #946 closed

[2019-04-26 19:48] #796 closed

[2019-04-26 19:49] #793 closed

[2019-04-30 12:30] holtkamp commented on #881
Also encountered this: currently it is not possible to influence how the ChainProvider deals with exceptions.

It would be nice to make it configurable to:
- rethrow caught Exceptions
- indicate the severity level of the logged exceptions, which is currently fixed at the `alert` level

*Rationale*
In a chain of Geocoders, one of them is not capable of geocoding IP-addresses. Ok, no problem, the ne

[2019-04-30 12:43] holtkamp commented on #881
Submitted a PR for the ability to configure the log level: https://github.com/geocoder-php/Geocoder/pull/950

[2019-04-30 20:38] gnumoksha opened #951 "What is the domain are of this project?"
Hi. I'm a bit confused about the domain area of this project. Is this related to geocoding only?

Quoting [google maps docs](https://developers.google.com/maps/documentation/geocoding/start):

Just to be clear, I need to enrich address data received from many different resources and I've found geocoding providers are designed for unambiguous address. Do all providers have this same rule?

[2019-05-01 09:20] jbelien commented on #951
From the README:

This library provides an easy way to query plenty of geocoding providers. Each geocoding provider has its own rules !
We provide a structured way to query every provider the same way and the result is also always structured the same way no matter what geocoding provider you chose.

Geocoder library includes geocoding, reverse geocoding but also "IP geocoding".

[2019-05-02 11:58] gnumoksha commented on #951
I've quoted Google's definition of Geocoding but in fact, this is the global definition of Geocoding (see [Wikipedia](https://en.wikipedia.org/wiki/Geocoding))

Right. What I'm saying is to clarify what this result would be. Besides Google Maps, the [Here](https://github.com/geocoder-php/here-provider) provider is also using geocoding and the [nominatim](https://github.com/geocoder-php/nominatim-p

[2019-05-02 13:10] jbelien commented on #951
I don't get this.

For the addresses, the Geocoder library only provides geocoding (= converting an address into geographic coordinates) and reverse geocoding (= converting geographic coordinates into an address) !
Those 2 functionalities are based on external API and we, of course, do not have any control on how the external API process the address (or the geographic coordinates).

Each external

[2019-05-05 06:36] gnumoksha commented on #951
I agree with what you said, my only concern here is explicit what geocoding is supposed to do.

I am going to close this issue and leave the PR for you to do what you think is best.

[2019-05-05 06:36] #951 closed

[2019-05-07 08:43] jbelien opened #953 "Add GraphHopper API"
I discovered that @graphhopper has a Geocoding API : https://docs.graphhopper.com/#tag/Geocoding-API

I'll add it when I have some time :)

[2019-05-09 23:28] chriscalip opened #954 "Adopt variadic methods throughout because it enforces types. DX"
example adoption:

From BeforeAdoption.
a.) class: `Geocoder\ProviderAggregator`
b.) method def: `registerProviders(array $providers = []);`
c.) sample method call: `$geocoder->registerProviders([new \Geocoder\Provider\GoogleMaps\GoogleMaps($adapter), new \Geocoder\Provider\Yandex\Yandex($adapter),]);`

To AfterAdoption.
a.) class: `Geocoder\ProviderAggregator`
b.) method def: `registerProviders(P

[2019-05-09 23:29] chriscalip commented on #954
who wants it? will this fly warranting a patch?

[2019-05-10 00:08] chriscalip commented on #881
@geodeveloper Curious from quote "All I can do is to replicate the class (not best solution)." What is not the best solution nor even a workable for your app?

[2019-05-10 02:49] chriscalip commented on #954
Throwing it out there that this issue is BC and thus is fair to punt to a future discussion.

[2019-05-10 15:06] geodeveloper commented on #881
@chriscalip it's not the best solution because you need to replicate the whole class when maybe you only need to override one method. Now on future releases I have to maintain this custom class myself if anything changes on all other methods.

[2019-05-10 20:31] chriscalip commented on #881
@geodeveloper I see how about an alternative.. given that the interfaces wont be changing this major version; you can have a custom class with a composition of using the ChainProvider. On the custom class implementation methods call-in the ChainProvider .. oh wait logger needs to be the ChainProvider. Ok I got you.

[2019-05-16 07:09] #953 closed

[2019-05-20 21:29] jkobus opened #960 "Algolia places provider is not working anymore"
Algolia Places response structure changed, therefore the provider is not working anymore.
Algolia added localized names (client expects value but it instead sees another array):
https://community.algolia.com/places/api-clients.html#json-answer

Algolia is also missing its factory.

[2019-05-21 07:26] jbelien commented on #960
Thanks for the notice @jkobus !

Would you have some time to provide a PR ?

[2019-05-21 13:31] jkobus commented on #960
In a spare time, sure. Todo:

- add factory (should it be in the main repository?)
- fix bug in provider
- add or update documentation

[2019-05-21 13:41] jbelien commented on #960
Ping @Fabex the original author of Algolia Places provider !

[2019-05-30 03:08] atymic opened #961 "Adding timezone functionally to google maps/bing maps"
Hi :smile:

I'm using your library in a couple of projects, and it's awesome!
One issue I've had is that neither the google maps, or bing maps providers support timezones.
This is because a different API request is required for each service to get timezone data.

I was wondering, would you be open to adding a config option to these providers such that you can (optionally) enable timezone coding (a

[2019-05-30 03:28] atymic commented on #808
I'll jump on this one and get a PR up soon :smile:

[2019-05-30 03:54] atymic commented on #960
Happy to jump on this when I have some time if required :)

[2019-05-30 03:54] atymic commented on #941
@AlifAbhiesa
Did you get this resolved?

[2019-05-30 03:55] atymic commented on #912
I'll have a look at this when I have some spare time.

[2019-05-30 04:01] atymic commented on #808
Also, what should we do with the old Mapzen provider?
I was thinking we could add depreciation docblock tags to the classes/methods, and update the readme if we don't want to remove the provider for BC reasons (i.e in case it's still in the code, but not actually used)

[2019-05-30 04:09] atymic commented on #932
@Carlsans
This is probably the easiest approach.
Did you get the issue solved?

[2019-05-30 04:10] atymic commented on #892
@bazo
Did you manage to solve your issue?

[2019-05-30 04:12] atymic commented on #901
@simonschaufi
Did you get this solved?

[2019-05-30 04:27] atymic commented on #570
So I was looking into this, and it seems that maxmind no longer offers access to the v1 api for new customers
https://dev.maxmind.com/geoip/legacy/

If you'd like I can create a PR to update the library to use the V2 geoip API.
https://dev.maxmind.com/geoip/geoip2/web-services/

[2019-05-30 04:31] AlifAbhiesa commented on #941
i put the key manually on this function

![image](https://user-images.githubusercontent.com/27193997/58608559-4c826a80-82ce-11e9-9cf1-f516c998c6f9.png)

on this file

![image](https://user-images.githubusercontent.com/27193997/58608570-5e640d80-82ce-11e9-8118-43839af7114d.png)

FYI : i'm using composer

[2019-05-30 04:49] atymic commented on #941
@AlifAbhiesa

You should not modify parts of the library, could you post the code you are using to do the geocode?
You should just be using something like this:

[code]

Note where I put `YOURAPIKEYHERE`, instead use your API there.

[2019-05-30 05:07] AlifAbhiesa commented on #941
Thank you @atymic it's work for me ;)

[2019-05-30 05:07] #941 closed

[2019-05-30 05:12] atymic commented on #941
No worries :smile:

[2019-05-30 07:42] jbelien commented on #570
Thanks @atymic that would be awesome ! 👍

[2019-05-30 07:43] jbelien commented on #941
Haha I'm a bit confused here, that's exactly what I said [here](https://github.com/geocoder-php/Geocoder/issues/941#issuecomment-475792737). 😋

The good new is that it's "fixed" ! 🎉

[2019-05-30 07:49] jbelien commented on #808
Yes, I was indeed planning to state somewhere in the README to switch to GeocoderEarth provider but never took the time to add the GeocoderEarth provider myself !

[2019-05-30 07:51] jbelien commented on #961
Yes, of course, we would be more than happy to add this if can submit a PR ! 🎉

Could you give us some documentation links about this ?

[2019-05-30 07:53] atymic commented on #808
Thanks, I'll open up a separate PR for that.

[2019-05-30 21:29] orangejulius commented on #808
@atymic I'd recommend removing or at least deprecating the Mapzen provider. The service is long gone and not coming back.

[2019-05-30 23:36] atymic commented on #808
I was thinking deprecating it using annotations, and  marking the packaging repo as abandoned. That way we won't risk breaking anything still pulling down the package but not actually using it.

[2019-05-31 00:00] atymic commented on #961
Here's the bing maps API:
https://docs.microsoft.com/en-us/bingmaps/rest-services/timezone/
And the google maps API:
https://developers.google.com/maps/documentation/timezone/intro

[2019-05-31 00:36] atymic commented on #570
So after doing some research, we already have a `GeoIp2` provider which supports using the web service.

Maybe we should consider deprecating the `MaxMind` provider, as the legacy api is no longer recommend?

[2019-05-31 00:43] atymic commented on #912
I did some research, i'm waiting for apple to approve my dev account before I can submit a PR.

Docs: https://developer.apple.com/documentation/mapkitjs/mapkit/geocoder
Geocode URL: https://api.apple-mapkit.com/v1/geocode?q=1 york st sydney&lang=en-GB
Reverse geocode URL: https://api.apple-mapkit.com/v1/reverseGeocode?loc=37.37%2C-122.04&lang=en-GB

Auth: https://developer.apple.com/documentation/

[2019-05-31 07:41] jbelien commented on #570
There is indeed a `GeoIP2` provider (mentioning the webservice) but after a quick look I couldn't find any reference to the webservice in the code itself.

If you have a moment, could you have a look ?
Thanks a lot !

[2019-05-31 07:42] jbelien commented on #961
Oh okay, I understand now.

I think it's out of the scope of this project (focus on geocoding and reverse geocoding).
But maybe @willdurand and @Nyholm will disagree ?

[2019-06-01 02:49] atymic commented on #570
I'll submit a PR to update the documentation to make it clearer.
Unfortunately I don't think we can add an API test, as there's no way to mock it.

[2019-06-01 22:20] atymic opened #965 "Deprecating Shutdown Providers"
Since the provider has been shut down for over a year, should we consider deprecating it?
http://freegeoip.net/shutdown

Maybe it would be a good idea to come up with a policy for handling provider shutdowns.

Possible steps:
- Mark packagist package as abandoned
- adding `@deprecated` annotations to the class & constructor (which will warn people using IDEs)
- Remove provider from main README
- U

[2019-06-01 22:27] atymic commented on #965
Also seems that the [GeoIps Provider](https://github.com/geocoder-php/geoips-provider) has shut down as well.

[2019-06-02 01:38] atymic commented on #912
So unfortunately I can't pick this one up ATM as getting an apple developer account requires an apple device :disappointed:.

If someone with an apple device is willing to create a developer account and key for me to test/develop with i'll still have a go.

[2019-06-02 01:48] atymic commented on #881
What about if we catch exceptions as we currently do, and then rethrow a `ChainException` which contains all of the exceptions encountered.

You'd then be able to loop over the caught exceptions and handle them as required.

[2019-06-02 01:56] atymic commented on #954
I guess this would have to be a `5.x.x` feature due to the BC break. Maybe worth revisiting if/when works begins on it?

[2019-06-02 06:42] jbelien commented on #965
Seems like a good idea to "clean" the providers that can't be used anymore.

If some providers can be replaced by another one, we should state it (like Mapzen > GeocodeEarth, FreeGeoIp > Ipstack).

What do you think about this @willdurand @Nyholm ? :)

[2019-06-02 06:47] atymic commented on #965
Good idea.
Might be a good idea to add that in the README of the deprecated package.

[2019-06-05 01:02] atymic commented on #570
@jbelien I think we can close this, as the maxmind v1 API can't be accessed to get the response

[2019-06-14 04:57] #808 closed

[2019-06-16 23:36] atymic commented on #932
@jbelien
I think this can be closed now :)

[2019-06-16 23:36] atymic commented on #901
@jbelien
I think this can be closed now :)

[2019-06-16 23:37] atymic commented on #892
@jbelien
I think this can be closed now :)

[2019-06-16 23:44] atymic commented on #961
Sorry to bother @Nyholm but I was wondering what your thoughts would be?
Thanks :)

[2019-06-17 06:57] Nyholm commented on #961
It seams like it is a different API and as we currently dont have any interfaces for it I suggest that we not include it here.

I agree with @jbelien

[2019-06-17 06:57] #961 closed

[2019-06-17 07:22] #892 closed

[2019-06-17 07:22] #932 closed

[2019-06-17 07:22] #901 closed

[2019-06-17 10:56] atymic commented on #961
Ok, no worries. All good!

[2019-06-23 23:39] atymic commented on #570
cc @jbelien :)

[2019-06-24 00:51] atymic commented on #960
I've opened a PR.
@jkobus what do you mean by adding a factory?

[2019-06-24 06:06] #570 closed

[2019-06-24 06:06] #960 closed

[2019-06-24 06:31] jbelien commented on #960
New release is published: https://packagist.org/packages/geocoder-php/algolia-places-provider 🎉

[2019-06-24 08:12] jkobus commented on #960
@atymic factory is for the symfony bundle (https://github.com/geocoder-php/BazingaGeocoderBundle/blob/master/Resources/doc/index.md#usage), although it is possible to use the geocoder provider without it.

[2019-06-24 10:02] atymic commented on #912
Anyone have an apple developer account? 😄

[2019-06-24 10:03] atymic commented on #935
@vassilaros
Did you manage to get any more information?
Maybe this would be better as a community provider rather than an official one

[2019-06-24 23:10] atymic commented on #940
I had a look at this issue, and it seems to be working correctly.
The value of `$url` that is fetched is
[code]

Which correctly contains the `language` param set here:

https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/GoogleMaps/GoogleMaps.php#L158-L160

Am I missing the issue here?

[2019-06-24 23:10] atymic commented on #940
On a side note, most of the google maps tests are failing 🤔

[2019-06-24 23:11] atymic commented on #965
I have opened a PR in #972 😄

[2019-06-24 23:13] mikebronner commented on #940
@atymic It could be that the Google API test key has reached its daily limit.

[2019-06-24 23:15] mikebronner commented on #940
Sorry, deleted my comment, I mistakenly thought I was in the other repo.

[2019-06-24 23:15] atymic commented on #940
@mikebronner
Seems 10 tests are failing:
![Screen Shot 2019-06-25 at 9 14 29 am](https://user-images.githubusercontent.com/50683531/60057943-c3721e00-9729-11e9-92f8-ff4d9f56e905.png)

I'll create a PR to fix them when I have a chance.

[2019-06-25 19:40] maschinedreams opened #974 "Uncaught TypeError: GuzzleHttp\Client given instead of Http\Client\HttpClient in GoogleMaps::__construct()"
Hello I am using your API, and the recommended HttpAdapter, I'm using Guzzle, and installed geocoder and the adapter with Composer.
When I make a request to the provider it throws this error:
[code]

[code]

[2019-06-25 22:53] atymic commented on #974
Please edit the title to remove the trace.

You need to create a HTTPplug guzzle client instance, not a guzzle client
Use the following code:

[code]

[2019-06-25 22:55] atymic commented on #940
@xSoulRootx

Can you verify that you were setting the locale and it is working?

[2019-06-26 07:24] jbelien commented on #974
@maschinedreams I guess your issue is fixed ? May I close this issue ?

[2019-06-26 11:15] maschinedreams commented on #974
Hey @atymic, thanks for the help. I tested and it worked, I was seeing code on and on, but the docs are very little informative, if I have any issue can I talk with you guys?

[2019-06-26 11:35] maschinedreams opened #975 "Uncaught Geocoder\Exception\InvalidServerResponse: API access denied. Request: https://maps.googleapis.com/maps/api/geocode/json?address=5%20Place%20des%20Palais%201000%20Bruxelles&language=en&region=AIzaSyBbiute7hwz_ESi3U75ETeRwgnjfceZm3s - Message: You must use an API key to authenticate each request to Google Maps Platform APIs"
My code:

[code]

I tried passing the API key as a parameter but it isn't working.

[2019-06-26 11:56] maschinedreams commented on #975
I fixed it by doing the following:
[code]

[2019-06-26 11:56] #975 closed

[2019-06-26 12:02] maschinedreams commented on #975
Response of the API:
`Geocoder\Model\AddressCollection::__set_state(array( 'locations' => array ( 0 => Geocoder\Provider\GoogleMaps\Model\GoogleAddress::__set_state(array( 'id' => 'ChIJYfQbLWSZ7JQRHXNPh43uAuQ', 'locationType' => 'ROOFTOP', 'resultType' => array ( 0 => 'street_address', ), 'formattedAddress' => 'R. Clóvis da Fonseca, 240 - Centro, Apucarana - PR, 86800-110, Brazil', 'streetAddress'

[2019-06-26 12:56] jbelien commented on #975
This is not a correct way to pass parameters to a function in PHP.
[code]

This is the correct way:
[code]

---

Other remark :
**I suggest you generate a new API key because everyone knows your API key.**
Don't publish secret API keys !

[2019-06-26 12:57] jbelien commented on #974
No worries, we are here to help.

[2019-06-26 12:57] #974 closed

[2019-06-26 13:11] maschinedreams commented on #975
Thanks @jbelien, I know, i was in despair because I will use the project in our map display, on my job, I will change the key.

[2019-06-26 18:26] maschinedreams opened #976 "Call to undefined method Geocoder\StatefulGeocoder::getLatitude()"
Im trying to put addressess in an array, and making a conditional for the geocoding of those locations which where gave me.
How could I fetch them from the BD and iterate and display their  lat and long?
[code]

[2019-06-26 23:00] atymic commented on #976
You are calling `getLatitude()` on `$geocoder` (the actual geocoder) rather than the result (`$geocode` in your case).

Use:
[code]

[2019-06-27 11:28] maschinedreams commented on #976
[code]

Im still getting the error:
 Uncaught Error: Call to undefined method Geocoder\Model\AddressCollection::getLatitude()

[2019-06-27 11:32] jbelien commented on #976
Please @maschinedreams , read the documentation : https://github.com/geocoder-php/Geocoder#statefulgeocoder

[2019-06-27 11:33] maschinedreams commented on #976
I dont know how to do this, I just need to get all their coordinates, can you hhelp me?

[2019-06-27 12:05] jbelien commented on #976
[code]

or something like that.
or using a [dumper](https://github.com/geocoder-php/Geocoder#dumpers).

[2019-07-01 00:13] atymic commented on #852
ping @jbelien, seems you forgot 😜

Happy to have a go if you want instead.

[2019-07-01 00:57] atymic commented on #762
PR open in #977

[2019-07-01 01:01] atymic commented on #711
Hmm, I wonder if we were going to implement https://github.com/geocoder-php/Geocoder/issues/942 if this is still required?

[2019-07-01 01:04] atymic commented on #904
@Nyholm

I'd be happy to create a PR for your solution if you want 😄

[2019-07-01 01:24] atymic commented on #881
PR open in #978 with a potential solution.

[2019-07-01 05:06] jbelien commented on #711
It's a different API, so IMHO it should be a different provider!

[2019-07-01 05:08] jbelien commented on #852
Haha, thanks for the reminder!
It indeed slipped of my mind.
I'll take care of it ASAP :)

[2019-07-01 05:11] atymic commented on #711
Oh, my bad. Getting them confused, ignore me :P

[2019-07-01 05:23] atymic commented on #936
@aetiv

Sorry, I'm a bit confused what you mean here.
When using the chain provider and the first provider (geoip2) returns an empty result, it will proceed to the next one due to the `if (!$result->isEmpty())` check.

If all of the providers return an empty result, this will be cached.
There is some discussion relating to this in https://github.com/geocoder-php/Geocoder/issues/904

[2019-07-01 05:25] atymic commented on #763
I had a look into this but the code is pretty complex.
Might leave this one for one of the authors.

[2019-07-01 06:44] #976 closed

[2019-07-02 15:37] franzwilding commented on #942
@jbelien I finally found some time and implemented a first draft of the lookup action. in https://github.com/geocoder-php/Geocoder/pull/979. Once jenkins runs, we can see if this is a good solution

[2019-07-03 07:06] jbelien commented on #942
Thanks a lot @franzwilding ! 👍
I'll have a look at it as soon as possible.

[2019-07-06 05:33] atymic commented on #711
I've created a PR in #980 😄

[2019-07-15 09:07] #965 closed

[2019-07-21 13:00] #762 closed

[2019-07-22 08:13] jbelien opened #983 "[MaxMindBinary] Issue with geoip 1.1.1"
Don't have time to have a deeper look at it now but maybe someone knows how to fix this.
There is an issue in the `PHP 7.3 deps="low"` and `PHP 7.3 deps="high"` builds (see https://travis-ci.org/geocoder-php/Geocoder/builds/561973179)

[code]

[2019-07-22 08:32] jbelien commented on #983
Damn that's blocking all the PR at the moment! 😭

I'll try to find some time to check ! @Nyholm any idea why it happens for `deps="low"` and `deps="high"` only ?

[2019-07-22 23:47] atymic commented on #983
Look like it's failing because only the low/high deps try to use the geoip extensions:
[code]

[2019-07-22 23:51] atymic commented on #983
And the reason it's failing is because `geoip/geoip` requires the extension NOT to be installed:
https://github.com/maxmind/geoip-api-php/blob/master/composer.json
[code]

[2019-07-23 00:28] atymic commented on #983
PR open in #985 :)

[2019-07-23 06:32] #983 closed

[2019-07-23 06:33] jbelien commented on #983
Awesome!
Nice catch @atymic 👍

[2019-07-23 06:52] atymic commented on #983
No worries :)

[2019-07-23 18:34] romec512 opened #987 "Yandex Provider ApiKey"
Hello. Yandex geocoder api requires api key now. Can you add this feature?
[from](https://yandex.ru/blog/mapsapi/novye-pravila-dostupa-k-api-kart?from=tech_pp)

[2019-07-23 22:10] atymic commented on #987
Happy to jump on this one. Will have a look at the docs today.

[2019-07-24 03:39] atymic commented on #987
PR open in #988.

[2019-07-24 06:37] #987 closed

[2019-07-24 07:02] jbelien commented on #987
New release is live: https://packagist.org/packages/geocoder-php/yandex-provider 🍾

[2019-08-05 07:48] #711 closed

[2019-08-14 05:39] jbelien opened #996 "Create missing sub-packages"
@Nyholm Could you create the 2 missing sub-packages ?

- [ ] [GeocodeEarth](https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/GeocodeEarth)
- [ ] [GoogleMapsPlaces](https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/GoogleMapsPlaces)

Tack så mycket!

PS: I don't seem to be able to contact you via Twitter messages.

[2019-08-14 12:32] Nyholm commented on #996
Hey. Sorry. It is just me being uncontactable for the past month or two. I'll create the packages now!

[2019-08-14 12:33] jbelien commented on #996
Haha, no worries!

Thanks a lot 🎉

[2019-08-14 12:39] Nyholm opened #999 "Make atymic an official maintainer"
Hey @atymic

I create this issue just to message you. I could not find you email or Twitter.

@jbelien and I think you have done some great work here for the past few months. We would be happy to have you on the team.

There are basically only three rules:
1) Follow Semver
2) Dont delete tags
3) Try to not merge your own PRs

[2019-08-14 12:41] jbelien commented on #999
🎉🎉🎉 Welcom onboard @atymic ! 🎉🎉🎉

Thanks a lot for all the work these past few months!
Looking forward to work even more "closer" with you!

[2019-08-14 13:08] Nyholm commented on #996
So, what I just did:
- I created new repositories
- I've update subtreesplit.com to map the path and repositories
- I activated Travis
- I made a PR to push to the new packages (#1000). When that was merged subtreesplit pushed to  the new repos.
- I activated Scrutinizer
- I added the new package on Packagist.

[2019-08-14 13:08] #996 closed

[2019-08-14 20:08] atymic commented on #999
Hey @Nyholm!

Thanks for the invite, I'm honoured!
I'll make sure to follow those rules to the T.

Thanks for the welcome @jbelien :)

[2019-08-14 20:18] atymic commented on #996
Great work @Nyholm

That should make things easier going forward!

[2019-08-14 20:18] atymic commented on #999
FYI I've created a twitter account if you need to contact me :)
https://twitter.com/atymic

[2019-08-15 06:11] atymic opened #1003 "Website documentation is out of date"
The website is still showing the documentation for the `3.x` major version, as well as a very outdated provider list.

http://geocoder-php.org/Geocoder/

I think we should either update the site (and have it automatically be re-built/deployed using CI on merge to master) or direct users to the github repo.

I'll to look into it and create a PR when I have a chance.

[2019-08-15 06:11] atymic commented on #1003
This could be a good opportunity to give the website a bit of an update :)

[2019-08-15 08:17] jbelien commented on #1003
Yes, I got confused by the (old) website as well when I started to use this library ^^
I guess that a simple redirection to the repo would be enough!

@willdurand I guess you're the owner of the domain name ?

[2019-08-15 08:18] #999 closed

[2019-08-15 08:19] atymic commented on #1003
I'd be happy to have a crack at updating the website :)
I think it should be pretty easy to pull in the content from the main repo and build something automatically

I still think having a website is a good thing, rather than just 301'ing it to GH>

[2019-08-16 03:42] atymic commented on #1003
@jbelien @Nyholm

Have a gander at this:
https://nostalgic-jang-a7bbf3.netlify.com/

It's a static site built using jigsaw that automatically pulls in the geocoder docs (so it can run in CI) 😄

Code here:
https://github.com/atymic/geocoder-site

[2019-08-16 03:49] atymic commented on #1003
We can also integrate algolia docsearch one we are up and running for awesome code search!

[2019-08-16 06:15] Nyholm commented on #1003
Wow. That looks great. How do you fetch the data?

Could we move our readme to /docs and only promote the website?

[2019-08-16 06:16] jbelien commented on #1003
Damn it looks good ! 😍

Seems like a good plan 👌

[2019-08-16 06:18] atymic commented on #1003
As it's using jigsaw, I just added a listener that runs before it's built.
It's pretty simple, it just clones the repo and extracts the appropriate `.md` files:

https://github.com/atymic/geocoder-site/blob/master/extend/DocumentationImporter.php

[2019-08-19 10:30] atymic commented on #1003
@Nyholm @jbelien

How would you like to proceed with this?
I assume you will create the netlify account & github repo?

[2019-08-19 10:46] Nyholm commented on #1003
@willdurand We are planning to update the website, are you owner of geocoder-php.org?

@atymic: Could we use this repo: https://github.com/geocoder-php/geocoder-php.github.io?

[2019-08-19 11:52] atymic commented on #1003
We could actually deploy direct to there and update the existing website.
I can create a PR if you would like?

Would be good to update it anyway hopefully, it needs HTTPs and such :)

[2019-08-19 11:54] willdurand commented on #1003
yep, I am.

[2019-08-19 21:47] atymic commented on #1003
I will make a PR against that repo today :)

[2019-08-19 21:50] atymic commented on #1003
Oh, the problem with that is building the site once the docs changes. GH pages doesn't support any way of triggering builds without a commit to that branch, where as with netlify we can use a webhook to trigger the site to update on merge to master on the main repo.

It also has CI so the site is built automatically, no need to set up travis and such.

Only config required is this:
https://github.

[2019-08-20 07:04] jbelien commented on #1003
@atymic The new GitHub Actions (https://github.com/features/actions) could probably help with the build :)

[2019-08-20 07:17] Nyholm commented on #1003
I dont mind using netify. It looks simple as you already set it up.

I think we should use the same repo, disable github pages and then ask William to update the DSN settings.

What do you think?

[2019-08-20 07:19] jbelien commented on #1003
I think it's the easiest indeed 👍

[2019-08-20 08:01] willdurand commented on #1003
How can we guarantee that we keep ownership on Netify in the future? Say, @atymic disappears, how can we update Netify?

[2019-08-20 08:19] jbelien commented on #1003
Maybe it's best that you own/run the Netflify instance (it's free).
The (new) website repo should also contain an INSTALL file with the whole process to run it (included on Netlify).

Then you can run and configure it (see https://www.netlify.com/docs/custom-domains/)

[2019-08-20 12:16] atymic commented on #1003
I would suggest that you own the account, all you need to do is create it, hook it up to the domain and point it at the repo. Everything else can be configured or updated in the `netlify.toml` :)

[2019-08-20 12:17] atymic commented on #1003
Only though with using that repo is that it has `.github.io` from github pages in the name, and renaming repos on GH tends to break everything.

[2019-08-20 12:50] Nyholm commented on #1003
Why would you rename the repo?

[2019-08-20 20:29] faliendres opened #1006 "get postal code suffix"
i'm using google maps but i do not can get postal code suffix  or ZIP+4

[2019-08-20 21:19] atymic commented on #1006
Can you provide the code you are using, the address and a `var_dump` of the result object please?

[2019-08-20 21:21] atymic commented on #1003
Fair enough, haha. Just my OCD kicking in 😝 with it being named like GH pages but using netlify.

I will create a PR today to that repo, and if @willdurand adds netlify to it (without the custom domain right now) it can start building PR/branch previews

[2019-08-20 21:34] faliendres commented on #1006
$addresses = $geocoder->geocode('9406 marshall rd Eden Prairie MN 55347');

$response:

[2019-08-20 21:46] atymic commented on #1006
I checked the [actual response](https://gist.github.com/atymic/2fa7d0cf921e8b38f995f4bf8edc8612) from the google maps API and it doesn't contain a `postalCodeSuffix`.

[2019-08-20 21:49] atymic commented on #1006
As far as I can tell, google maps does not return a `postalCodeSuffix`

https://developers.google.com/maps/documentation/geocoding/intro#Types

[2019-08-21 07:57] willdurand commented on #1003
I am not sure to understand why we need Netlify.

- Aren't gh-pages enough to host the website?
- What kind of automation do we need to update a website that has its files versioned in the `.github.io` repo?

[2019-08-21 11:35] atymic commented on #1003
Yes, github pages will work.

The issue is we need a way to trigger builds of the website when the main repo is updated. AFAIK GH pages doesn't have a way of doing this without a commit to the repo.

We could probably configure travis somehow on the main repo to make a commit to the website repo to trigger a build.

[2019-08-21 11:52] willdurand commented on #1003
Which main repo? The docs live in the `.github.io` repo, not in the main repo. Does your new (very pretty) website extract information from `geocoder-php/Geocoder`?

[2019-08-21 11:52] atymic commented on #1003
Yes, it does:
https://github.com/atymic/geocoder-site/blob/master/extend/DocumentationImporter.php

[2019-08-21 11:55] atymic commented on #1003
I think that having the docs automatically updated when the main repo is updated is a good idea, as it means that they will be consistent. Currently, you could get confused by the web site as it's out of date, and while we can manually update it it, it will be out of date with the next package/documentation updates.

[2019-08-21 11:58] willdurand commented on #1003
Ahhhh! I get it now, very cool! So I guess it makes sense to use Netlify unless we can setup GitHub Actions and assuming it's easier than Netlify.

[2019-08-21 12:07] willdurand commented on #1003
Alrighty, so I created a Netlify site bound to the `.github.io` repo: https://geocoder-php.netlify.com/ (currently deploying).

Then, I need to setup a webhook on `Geocoder`, right?

[2019-08-21 12:09] jbelien commented on #1003
I guess @willdurand (and myself) mentioned GitHub Actions to host everything using GitHub Pages.

Never used GitHub Actions so I would go for Netlify too but it was in case we want to have everything here on GitHub 😋

[2019-08-21 12:09] atymic commented on #1003
Sweet :)

Yep, you can follow this guide:
https://developer.github.com/webhooks/creating/

Just point it to the build webhook created in netlify.

PR incoming to the site repo.

[2019-08-21 12:09] willdurand commented on #1003
![Screen Shot 2019-08-21 at 14 09 33](https://user-images.githubusercontent.com/217628/63430631-5626f480-c41d-11e9-93ca-ae9b81dcaee0.png)

I guess we're good?

[2019-08-21 12:18] atymic commented on #1003
Yep, looks good, thanks!

Netlify will automatically build a preview site for the PR as well :)
https://github.com/geocoder-php/geocoder-php.github.io/pull/10
https://deploy-preview-10--geocoder-php.netlify.com/

[2019-08-22 08:39] Nyholm commented on #1003
@atymic, I've given you write access to https://github.com/geocoder-php/geocoder-php.github.io

Should we move the docs in geocoder-php/Geocoder to a `/docs` subfolder and keep the Readme.md short with just a quick code example and link to the website? Is it smart to do this now or should we wait?

[2019-08-22 09:16] willdurand commented on #1003
I think the whole point of Netlify was to keep the docs in `.github.io`. @atymic's patch has a script to pull and parse `Geocoder`.

[2019-08-22 11:53] atymic commented on #1003
Thanks, the PR is here: https://github.com/geocoder-php/geocoder-php.github.io/pull/11

I think we should wait until the new site is live :)

I think @Nyholm is suggesting moving them to a subfolder in this repo, and linking to the website in the root package readme, the `github.io` repo would still just contain the website code (and still update from this repo)

[2019-08-23 00:32] atymic opened #1007 "Framework integration docs"
I think we should a a section/table to the documentation with all of the framework integrations.

I'll PR soon :)

[2019-08-23 05:44] atymic commented on #1006
@faliendres

Did you see my response above?

[2019-08-23 14:56] DamienHarper commented on #801
@DawoudIO Hi, better late than never, I wrote this bundle that may respond to your needs ;)
https://packagist.org/packages/damienharper/navigation-bundle

[2019-08-25 22:51] atymic commented on #1006
Ok, got it :)

I'll open a PR to fix that.

[2019-08-25 23:09] atymic commented on #1006
@faliendres
PR is open in #1008  😄

[2019-08-25 23:11] atymic commented on #1003
@willdurand

When you are free could you update the domain to point to netlify please?
The PR was merged into the site repo.

Thanks 😄

[2019-08-25 23:13] atymic commented on #940
@xSoulRootx

Can you verify that you were setting the locale and it is working

[2019-08-26 08:53] willdurand commented on #1003
done.

Not sure I understand. What should be moved to the main repo?

[2019-08-26 08:56] jbelien commented on #1003
⚠️ We need to replace http://geocoder-php.org/Geocoder by http://geocoder-php.org/ here on the main GitHub repo !

[2019-08-26 11:54] atymic commented on #1003
I'll create a PR for that, also a redirect rule in case anyone had the old page bookmarked

Good catch will get that fixed.

[2019-08-26 12:08] #1006 closed

[2019-08-26 12:24] atymic commented on #1003
I've fixed the broken link with a PR in the site repo to redirect it to the home page, however when you have a chance @willdurand could you update it?

https://github.com/geocoder-php/geocoder-php.github.io/pull/14

[2019-08-26 12:33] willdurand commented on #1003
done. Thanks for the redirects, it's important to not break existing URLs.

[2019-08-28 00:30] atymic commented on #1003
I'll close this PR now the new site is live 😃
Feel free to create issues in that repo if there are problems:
https://github.com/geocoder-php/geocoder-php.github.io/

[2019-08-28 00:30] #1003 closed

[2019-08-29 13:56] topikito commented on #523
Hi all - Not sure if I should post here or open a new issue, but this is a matter that has been discussed on several other issues.

I come here searching for a `raw` or a way to create custom response objects (`ResultFactory` ?). The need comes because some providers return really rich results (like [Open Cage Data](https://opencagedata.com/demo).

I've read comments suggesting for returning the r

[2019-09-03 14:15] DawoudIO commented on #801
Thanks ill look into it

[2019-09-12 16:32] gaelg opened #1012 "Have pelias provider in packagist"
Hi and thank you for this great lib!
I've seen that a pelias provider has been added (https://github.com/geocoder-php/Geocoder/pull/1004), but I cannot find it in packagist: https://packagist.org/providers/geocoder-php/provider-implementation
Could you please release it?

[2019-09-13 15:29] jbelien opened #1014 "New MapTiler Cloud Geocoding API"
MapTiler (@maptiler) just announced their new Geocoding API : <https://www.maptiler.com/blog/2019/09/announcing-maptiler-cloud-geocoding-api.html>

I didn't find the documentation yet but thought it could be interesting 😃

[2019-09-26 07:52] gaelg commented on #1012
Thank you for your answer. In the meanwhile, is it possible to get it with some composer trick?

[2019-09-26 08:01] Nyholm commented on #1012
Sorry for keeping you waiting. I’ll do this today. Hopefully within the next hour.

[2019-09-26 08:05] gaelg commented on #1012
It's OK. Thank you!

[2019-09-26 15:25] gaelg commented on #1012
This message is a gentle reminder. ;)

[2019-09-26 15:56] jbelien commented on #1012
Sub-package is created: https://github.com/geocoder-php/pelias-provider ! 🎉
I'm just waiting to have access to the release creation and the new package will be live!

[2019-09-26 16:00] Nyholm commented on #1012
So, This is what I did:

1. Added the new repo
2. Configured subtree split
3. Pushed to the provider in main repo to trigger split https://github.com/geocoder-php/Geocoder/pull/1017
4. Added packagist
5. Added Travis
6. Added scrutnizer
7. Added the repo to the "Release manager"-(Github) team

[2019-09-26 16:00] #1012 closed

[2019-09-26 16:04] gaelg commented on #1012
I confirm I could get it with composer require. Thanks to both of you!

[2019-10-11 18:05] squizee opened #1021 "Not possible to install TomTom provider with cURL client"
Sorry if I mess something, but like I read on [Geocoder docs](https://geocoder-php.org/docs/):

So, I pick one and one from here :)

[code]

[2019-10-12 04:23] atymic commented on #1021
You've got the adapter, but you missed installing the `php-http/message` package, which provides the factories & associated classes around PSR7

[2019-10-12 11:31] squizee commented on #1021
I tried this before. Exactly the same :(

[code]

[2019-10-12 11:45] atymic commented on #1021
huh, good point, seems like the docs are wrong. `php-http/message` isn't actually a `psr/http-message-implementation` package.

I tested this and it works:
[code]

[2019-10-12 12:03] squizee commented on #1021
Yup :) That's correct. Tried this also but nonidea what's nyholm/psr7 :-o

Thank you :)

Regards

sob., 12 paź 2019, 13:45 użytkownik atymic <notifications@github.com>
napisał:

[2019-10-12 23:18] atymic commented on #1021
`nyholm/psr7` is just an implementation of the PSR7 message spec :)

I've created a PR to make the docs a bit more clear.

[2019-10-14 07:54] #1021 closed

[2019-10-15 17:31] mikebronner opened #1023 "Algolia provider returning empty results."
Asking on behalf of @tanthammar, who posted this issue here: https://github.com/geocoder-php/GeocoderLaravel/issues/163

----------

### General Information
GeocoderLaravel Version: ^4.2
Laravel Version: 6
PHP Version: 7.3.8
Operating System and Version: OSX 10.14.6

### Issue Description
I do understand that this might not be the proper place to ask, but I was hoping that someone might have a sol

[2019-10-15 23:12] atymic commented on #1023
I've just double checked by running the test suite and it seems to be working correctly.

Can you share the code you are using to get the result, and the address you are geocoding?

Thanks

[2019-10-16 09:57] qdequippe opened #1025 "Unable to install provider with Symfony HTTP Client"
Hi,

I am trying to install a provider using Symfony HTTP Client but an error occurs.

[code]

[code]

I don't understand why because  Symfony HTTP Client provides this implementation.

I also tried to require `psr/http-client` but without success.

[2019-10-16 12:54] qdequippe commented on #1025
@nicolas-grekas maybe you have an idea? :)

[2019-10-16 13:07] nicolas-grekas commented on #1025
You need `symfony/http-client` v4.4 (unreleased yes) to have it implement `php-http/client-implementation`.

[2019-10-16 16:12] #1025 closed

[2019-10-19 21:25] klikpaspor opened #1028 "API access denied."
` Message: You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account`

[code]
API access denied.

[2019-10-19 22:04] atymic commented on #1028
As per the link in the error, you need to use an API key.

https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/GoogleMaps/GoogleMaps.php#L82-L89

We should probably clarify this is the docs, though.

[2019-10-21 14:01] klikpaspor commented on #1028
version 3.x no need an Api key right? or Google has updated?

[2019-10-22 15:01] tanthammar commented on #1023
Hello, thank you for your reply.

I got it working, but the returned search result are inconsistent with what I get in the search field in the Algolia dashboard.

Example:
Via geocoder
[code]

Via the search field in Algolia app, places, dashboard I do get a suggestion, even though it is not the correct lat/long.  (It suggests the city "Stockholm" in Sweden)
Suppose this is not this repos fault :)

[2019-10-24 00:02] atymic commented on #1023
Hmm. I've double checked that the code is querying correctly without any filters and I still get no results.

Could this be due to https://www.algolia.com/doc/api-reference/api-parameters/aroundLatLngViaIP/?

[2019-10-25 00:03] ip2location opened #1029 "Add IP2Location as IP provider"
We would like to add our IP2Location service as the IP provider. May I know how can we proceed from here?

[2019-10-25 00:58] atymic commented on #1029
I'm not sure that we have specific documentation, but roughly:

- Copy/paste an existing similar provider
- Update the provider logic for the new provider
- Write tests
- Add documentation
- PR for review

[2019-10-25 01:00] atymic commented on #935
I'm going to close this due to inactivity.
Feel free to ping one of us and we'll reopen.

[2019-10-25 01:00] #935 closed

[2019-10-25 01:04] atymic commented on #1028
Sorry about the accidental close.
PR to update the docs here: https://github.com/geocoder-php/Geocoder/pull/1030

[2019-10-25 01:25] ip2location commented on #1029
Thanks for fast reply. We will work on this and will send the pull request when ready.

[2019-10-25 01:25] #1029 closed

[2019-10-25 02:14] atymic commented on #1029
No worries.

[2019-10-26 09:18] tanthammar commented on #1023
I am not sure. This is all very new to me.
Did you look into the first error?

[2019-11-01 22:27] #1028 closed

[2019-11-01 23:00] atymic commented on #1023
@tanthammar

I'm guessing it's related to that. Can you try direct with that param disabled?

In regards to the first error, could you please add `dd(json_last_error())` after the geocode call?

I'm pretty sure something is going borked with the array which causes the json encode to fail.

Thanks!

[2019-11-21 04:04] atymic commented on #1023
@tanthammar

Were you able to do the above?

[2019-12-09 09:29] almare commented on #801
This is great! Hopefully this gets included

[2020-01-07 05:21] tmp-hallenser opened #1035 "How to limit API calls per second"
Hi,

I want to use the Nominatim API to do some geocoding. According to the Usage Policy, one is allowed to do max. 1 request per second.

Since several calls will be identical, I'm using the Cache provider to reduce the number of calls.

Is there a smart way to achieve the 1 request per second restriction in case of caching?

I could of course just pause for 1s after each query. This is a bit sub

[2020-01-07 05:36] atymic commented on #1035
I think the easiest way to do this would be to using some kind of middleware in the HTTP layer.
You could write a HTTplug plugin, but if you're using guzzle there's a preexisting plugin:
https://github.com/hamburgscleanest/guzzle-advanced-throttle

Maybe give that a go?

[2020-01-07 05:38] atymic commented on #1023
@tanthammar

Were you able to do the above?

[2020-01-08 14:42] pixrr opened #1037 "Cannot get city with LocationIQ provider"
Hi,

I use the [LocationIQ provider](https://github.com/geocoder-php/locationiq-provider) and I'm unable to retrieve the city when I get the `Location` object by calling `geocodeQuery` method for the following address: '12 rue Beziel' (french address).

So I checked the raw response for this address in the LocationIQ API  geocode endpoint url (doc: https://locationiq.com/docs-html/index.html#searc

[2020-01-08 15:08] jbelien commented on #1037
Hello @pixrr ,

We could/should indeed use `town` and `county` as fallback if `city` is not defined!
In what order/priority, would you define `city`, `town`, and `county` ?

[2020-01-08 15:38] pixrr commented on #1037
Hello @jbelien,

I check the documentation of [LocationIQ Query Parameters (specific parameters section)](https://locationiq.com/docs-html/index.html#forward_query-parameters), it seems we can add parameter to normalize city value if missing.

with the parameter `normalizecity=1` :
[code]

I think, they have many properties as fallback when the city value is missing and we are not always aware of

[2020-01-08 19:25] jbelien commented on #1037
`normalizecity` parameter looks interesting!

Could you paste here the response of your previous query with the `normalizecity=1` ?

[2020-01-08 20:03] pixrr commented on #1037
`GET https://locationiq.com/v1/search.php?key=YOUR_PRIVATE_TOKEN&q=12%20rue%20Beziel&format=json&addressdetails=1&normalizecity=1`

By passing `normalizecity` parameter in query, we can have the following response for address section:
[code]

[2020-01-08 20:17] jbelien commented on #1037
Okay, this seems the best way to tackle this issue!
I'll create a PR ASAP !

[2020-01-08 20:21] pixrr commented on #1037
Great ! Thank you :smile:

[2020-01-08 20:43] pixrr commented on #1037
@jbelien

I checked with the xml format and city attribute is missing in xml

`GET https://locationiq.com/v1/search.php?key=YOUR_PRIVATE_TOKEN&q=12%20rue%20Beziel&format=xml&addressdetails=1&normalizecity=1`

[code]

And when I use `xmlv1.1` as format

`GET https://locationiq.com/v1/search.php?key=YOUR_PRIVATE_TOKEN&q=12%20rue%20Beziel&format=xmlv1.1&addressdetails=1&normalizecity=1`

[code]

It s

[2020-01-08 21:27] #1037 closed

[2020-01-08 21:45] jbelien commented on #1037
@pixrr New version `1.0.1` is released 🎉

Thanks for the notice!

[2020-01-10 07:19] tmp-hallenser commented on #1035
Thanks. Here's a working example using https://github.com/spatie/guzzle-rate-limiter-middleware

It combines caching with rate limiting, i.e. limits calls to API but first checks the cache.

Perhaps it's worth adding a comment to the readme.

[code]

[2020-01-10 07:33] #1035 closed

[2020-01-21 16:03] amaneshi opened #1040 "open-cage-provider issue with adminLevels"
In some cases provider don't return any adminLevels (empty list), but they should be there.
As example, if we try to reverse point **(47.571109, 19.108676)** we get address
**"Budapest, Pajtás utca 2, 1046, Hungary"**
 without admin levels in parsed object.
But in original JSON response we have component item:
**`"region": "Central Hungary"`**
As I think, Regions should be admin level = 1.

[2020-01-21 22:35] atymic commented on #1040
Looking at the code, currently `state` is admin level one, and `country` is admin level two.

Can you post the full json response please?

[2020-01-22 05:56] kenton-r opened #1041 "Here Provider now uses an API Key for REST"
Would it be possible to get support for the API KEY authentication in the Here provider? It uses a different URL and only needs the API KEY attribute.

[2020-01-22 06:54] jbelien commented on #1041
Hello @kenton-r ,

Could you give a bit more information about the API KEY authentication ?

[2020-01-22 07:56] kenton-r commented on #1041
There are two ways of authenticating with HERE. If you use a none freemium SDK for a mobile app than there is still an App_ID and App_Code, but they have moved their REST API to an API KEY.

An example is:
https://geocoder.ls.hereapi.com/6.2/geocode.json
?apiKey={YOUR_API_KEY}
&searchtext=425+W+Randolph+Chicago

Note that this is a new URL and CIT address.

[2020-01-22 08:08] amaneshi commented on #1040
Yes, I saw that two level in sources, but in my response there is none of them so temporary I add another case with "region". Full response too long to post here, if you want get all take coordinates from first message and use it on opencage live demo page [https://opencagedata.com/demo](https://opencagedata.com/demo). Here is only components section of it (point of interest):
[code]

[2020-01-22 08:47] jbelien commented on #1041
Interesting!
Yes, it would definitely be possible to update Here Provider to allow request with the API Key !
Thanks for the notice !

Would you have time to submit a PR ?

[2020-01-22 08:56] jbelien commented on #1040
Yeah, I think we really need to normalize our admin levels !
There is a discussion about it in my issue #852 (I still need to take care of it).

It was decided to have admin level 1 as "*first-order civil entity below the country level*".
So I think we should indeed fix the [`parseAdminsLevels()` function](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/OpenCage/OpenCage.php#L214

[2020-01-25 01:51] atymic commented on #1041
PR opened here 🎉
https://github.com/geocoder-php/Geocoder/pull/1042

[2020-02-06 17:49] kmadenski opened #1043 "[Pelias] Notice: Trying to access array offset on value of type null on php 7.4"
Hi
Got error on **php 7.4**
**Notice: Trying to access array offset on value of type null on php**

in vendor/willdurand/geocoder/Model/Address.php (line 258)

[2020-02-07 03:35] atymic commented on #1043
Can you post the stack trace please? It's not clear which provider you are using.

[2020-02-07 08:40] kmadenski commented on #1043
Sure. Sorry
The bug is from https://github.com/geocoder-php/pelias-provider/blob/master/Pelias.php
The bug coming from (line 181) **Address::createFromArray**

[2020-02-07 09:08] jbelien commented on #1043
Could you also provide us the address you were looking for and/or the response ?

[2020-02-07 09:11] jbelien commented on #1043
Okay, found where the issue is !
I set `$bound = null;` if there is no `bbox` properties in the response (see [Pelias.php#L169](https://github.com/geocoder-php/pelias-provider/blob/master/Pelias.php#L169) and `$bounds` should be an array !

Thanks for the notice @kmadenski , I'll fix it ASAP !

[2020-02-07 15:59] AntoineLemaire opened #1044 "Multiple cached provider shared same cacheKeys"
I saw that every cache shared the same cacheKey. Even if you don't use the same provider.

That could be annoying if the results of my first provider give me a result, but does not contain what I need, and I want try an other one.

e.g, sometimes Google does not provide me postalCode of a city, but OpenStreetMap does

[code]

Could we add a new argument to ProviderCache to include realProvider nam

[2020-02-07 20:31] jbelien commented on #1044
Hello @AntoineLemaire ,
I understand your point !

The Cache Provider has been designed before I joined the project so I'm not sure if sharing the cache is done on purpose or not.
I'll have to ask @Nyholm !

[2020-02-10 10:24] jbelien commented on #1043
@kmadenski Could you provide us the address that generated the error ? So I can add a new test for that case.

[2020-02-10 14:30] kmadenski commented on #1043
https://gist.github.com/kmadenski/421fe8f97ae6e64000238aa37a3e51fd its json response from ->getUrlContents($url)
https://gist.github.com/kmadenski/2fa613eaa75d0571e2d65cad5b96964e its param of Address::createFromArray

gettype($bounds) give a NULL

[2020-02-14 08:59] ahmed-bhs opened #1048 "Gecode not returnong result from zipcode 17000"
This is really weird, I'm using https://github.com/geocoder-php/Geocoder library, and unfortunately I'm not getting the city name for a zip code equal to 17000.
I'm supposed to get "La Rochelle" as city.
This is my source code:

    $provider = new \Geocoder\Provider\GoogleMaps\GoogleMaps(
             (new \Http\Adapter\Guzzle6\Client()),
             'France', $this->googleMapApiKey
         );

[2020-02-14 09:11] jbelien commented on #1048
Hello @ahmed-bhs,

Could you give use the raw response from Google Maps API (so we can compare and detect where the issue exactly is) ?

[2020-02-14 09:22] ahmed-bhs commented on #1048
Hey @jbelien thank for your answer, ther's is it :
[code]

This is my get http url: https://maps.googleapis.com/maps/api/geocode/json?address=17000,%20France&key=API_KEY

[2020-02-14 10:18] jbelien commented on #1048
Thanks!

As you can see, there is no mention of "La Rochelle" in Google Maps API response.
We can, of course, only extract what the API returns.

[2020-02-14 14:14] ahmed-bhs commented on #1048
@jbelien just for curiosity, do you have any idea why google map does not return city name for some zipcodes ?

[2020-02-14 14:14] #1048 closed

[2020-02-14 14:19] jbelien commented on #1048
@ahmed-bhs Unfortunately, no, I have no idea.

[2020-02-24 10:35] dereuromark opened #1049 "count PHP errors"
[code]

count() uses internally

    return count($this->locations);

Which then operations apparently on a non-valid type in some cases.

  - Installing geocoder-php/common-http (4.2.0): Downloading (100%)
  - Installing geocoder-php/google-maps-provider (4.4.0): Downloading (100%)

[2020-02-24 10:51] dereuromark commented on #1049
PHP 74 is missing the test travis matrix it seems, but this particular issue might also be on our side at this time.

[2020-02-24 10:56] dereuromark commented on #1049
Actually, the issue is that

    array_values($locations);

on an empty array returns null, which then triggers this

I recommend properly checking the return value here:

    $this->locations = array_values($locations) ?? [];

or alike

[2020-02-24 11:49] dereuromark opened #1050 "Compatibility with CakePHP"
https://github.com/geocoder-php/google-maps-provider/blob/master/GoogleMaps.php

This one is installed along the original repo, together with https://github.com/php-http/cakephp-adapter:cake4 branch

The AbstractHttpProvider is

    public function __construct(HttpClient $client, MessageFactory $factory = null)

But the GoogleMaps extends AbstractHttpProvider implements Provider:

    /**
     * @

[2020-02-24 13:05] jbelien commented on #1049
Thanks @dereuromark , I'll have a look !

[2020-02-24 13:08] dereuromark commented on #1049
I understand that passing empty array is a rare case, still not sure why it happened for us.
But in that case having this kind of solution here helps to fix the edge case :)

[2020-02-24 13:08] jbelien commented on #1050
Hello @dereuromark ,

I'm not sure I understand the issue here.
You're trying to use our Google Maps provider with Cake PHP HTTP Client (instead of Guzzle, for instance) and it doesn't work, is that it ?

---

What is your `$adapterClass` variable ?
What is the `\Geo\Geocoder\ResponseFactory` class ?

[2020-02-24 13:13] dereuromark commented on #1050
$adapterClass = $this->getConfig('adapter');

So `Http\Adapter\Cake\Client` as per linked repo, implements HttpClient (as per psr7).

[code]

This should all work if the GoogleMaps class would follow the spec of the interface, `HttpClient $client, MessageFactory $factory = null)`

[2020-02-24 13:25] jbelien commented on #1050
@Nyholm Any idea ?

[2020-04-03 13:59] dereuromark commented on #1050
I now managed in my PR to get it working.
What is quite annoying is the overuse of final and private, making it hard to extend at least somehow without having to copy over complete classes.
But fair enough for the time being. Closing then.

[2020-04-03 13:59] #1050 closed

[2020-04-12 23:27] pschocke opened #1054 "HERE switches to new Geocoding API"
Hello,
as the [documentation for geocoding at HERE](https://developer.here.com/documentation/geocoder/dev_guide/topics/what-is.html) states, they switch to a new API:

Since it is basically a complete new provider, I've created my [own provider](https://github.com/pschocke/here-provider) based on the exisiting HERE provider. It replaces the old functionality.

What is the plan on this? Both API en

[2020-04-13 06:53] jbelien commented on #1054
Hello @pschocke ,

Thanks for the notice !

A PR is more than welcome !
As long as the current service is available (even though not developed anymore), I would keep our provider available (tagged version `0.x`). If your provider is merged it could become version `1.x`.

@Nyholm @atymic What do you think ?

[2020-04-16 18:06] mwisner opened #1055 "IPStack provider doesn't set administration area."
IPStack service does return `region_name` and `region_code`, but the provider doesn't seem to convert them into an administration area for the address model.

https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Ipstack/Ipstack.php#L104-L112

[2020-04-16 18:46] jbelien commented on #1055
Hello @mwisner ,

Documentation seems indeed to mention a `region_name` (see https://ipstack.com/documentation#objects).

Would you be able to submit a PR ?
Thanks !

[2020-04-17 16:23] mwisner commented on #1055
Hi @jbelien,

Sorry for the silly question but I'm kind of confused about where to actually contribute.

I see there are providers here: https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/Ipstack

But there is also a repo here: https://github.com/geocoder-php/ipstack-provider

and both sets of code look the same, but they both have *READY ONLY* in the readme and whatnot.

I found th

[2020-04-17 18:58] jbelien commented on #1055
You should submit your PR in [**this** `geocoder-php/Geocoder` repository](https://github.com/geocoder-php/Geocoder/).

The [`geocoder-php/ipstack-provider` repository](https://github.com/geocoder-php/ipstack-provider) will be automatically updated once your PR is merged.

[2020-04-19 08:48] pschocke commented on #1054
Hey, just wanted to ask what’s the best approach is to send this pr. Should I send it to the standalone package or to this package?

Thanks!

[2020-04-19 08:50] Nyholm commented on #1054
Let's start simple. Update the readme with your package to show that it exists.

[2020-04-19 12:18] jbelien commented on #1043
Sorry for the (really) late reply !

I'm adding a test for `dworzec centralny` but I don't have a GeocodeEarth API key.
I requested an API key but in case I don't receive one. Could you provide the cached response for `dworzec centralny` search.

Thanks !

[2020-04-19 12:24] jbelien commented on #1054
Maybe also have a look at #1041 and #1042

[2020-04-19 12:24] jbelien commented on #1054
All the PR have to be send here in the main repository !

[2020-04-27 15:02] oleg-andreyev opened #1056 "HostIP no longer supplies lat,lng in JSON"
It's probably due that MaxMind commercialized it or  due to GDPR
http://api.hostip.info/get_json.php
but XML still has it http://api.hostip.info/get_xml.php

[2020-04-27 15:10] jbelien commented on #1056
http://api.hostip.info/get_xml.php doesn't seem to provide coordinates either.
[code]

Could you provide some documentation about this change in the API ?

[2020-04-27 15:13] oleg-andreyev commented on #1056
@jbelien it does provide in some cases :/
![image](https://user-images.githubusercontent.com/1244112/80388521-a9a5e800-88b2-11ea-9aa1-b89532d472e6.png)

The only issue I have locally it's `Notice: Undefined index: lat`

[2020-05-19 16:11] marcosfreitas opened #1058 "Should have a "minimum-stability" description at documentation?"
So, In my very first install, my project has a "`minimum-stability : stable`" instruction into composer.json. It hurts the installation process of some (or all) dependencies, so I fixed that changing to "`dev`" instead of "`stable`", but I don't know if it is the best approach. Could anyone describe the necessary minimum-stability to use the Geocoder package and additional providers?

Bellow, it i

[2020-05-19 16:32] jbelien commented on #1058
Thanks for your feedback @marcosfreitas !

It should work with `"minimum-stability": "stable"`, I'll check why it doesn't !

[2020-05-19 16:53] marcosfreitas commented on #1058
I added `"php-http/message": "^1.8"` and it worked. Why it's is necessary I don't know. `geocoder-php/google-maps-provider` failed to be instantiated without it but it is a dev dependency.

[2020-06-07 19:01] Sandman83 opened #1061 "[Nominatim] no category in place object"
I'm trying out the geocoder via

`"toin0u/geocoder-laravel": "^4.3" `

The example of interest is:
https://github.com/geocoder-php/Geocoder#usage

together with the Nominatim-provider.

In line 243 of `vendor/geocoder-php/nominatim-provider/Nominatim.php`

I get the error

`ErrorException : Undefined property: stdClass::$category`

as the place does have a type but does not have a category.

[2020-06-08 07:35] Sandman83 commented on #1061
Sure. For example, let's look out for
'Johanneskirchner Str. 98, 81927 Munich, Germany'

via*

`https://nominatim.openstreetmap.org/search?format=json&limit=1/search?format=jsonv2&q=Johanneskirchner+Straße+98%2C+81927+München%2C+Germany&addressdetails=1&limit=5`

and receive*

`[{"place_id":918741,"licence":"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node",

[2020-06-08 08:54] jbelien commented on #1061
The URL you provide is "strange", you specify twice the format and the limit.
`https://nominatim.openstreetmap.org/search?format=json&limit=1/search?format=jsonv2&q=Johanneskirchner+Straße+98%2C+81927+München%2C+Germany&addressdetails=1&limit=5`

Our Nominatim provider uses `format=jsonv2` !
The `category` property is defined for the search on `Johanneskirchner Str. 98, 81927 Munich, Germany` :
ht

[2020-06-08 08:56] Sandman83 commented on #1061
Its here, in the second line. https://github.com/geocoder-php/Geocoder/issues/1061#issuecomment-640423646

'Johanneskirchner Str. 98, 81927 Munich, Germany'

[2020-06-08 09:09] jbelien commented on #1061
The [search](https://nominatim.openstreetmap.org/search?format=jsonv2&q=Johanneskirchner+Stra%C3%9Fe+98%2C+81927+M%C3%BCnchen%2C+Germany&addressdetails=1&limit=5) for `Johanneskirchner Str. 98, 81927 Munich, Germany` returns a `category` property !

As I said, your URL is wrong, and the format used is `jsonv2` (**not** `json`).

You don't have to specify the `$rootURL` if you want to use the "defa

[2020-06-08 09:23] Sandman83 commented on #1061
The URL does not really matter. Look at my test code at the end of https://github.com/geocoder-php/Geocoder/issues/1061#issuecomment-640423646

[code]

I tried to follow the example in your docu. If this code is ok, then the provider has a bug.

[2020-06-08 09:28] jbelien commented on #1061
This code is **not** ok.
You provide a **wrong** `$rootUrl` !

I've updated the README: https://github.com/geocoder-php/nominatim-provider#readme

[2020-06-08 09:31] Sandman83 commented on #1061
Ah! got it! Thanks a lot.

[2020-06-08 09:31] #1061 closed

[2020-06-17 17:54] wivaku opened #1063 "Google Maps Places reverse lookup: without `type`, `keyword`, `name`"
[Geocoder provider documentation](https://geocoder-php.org/docs/providers/googlemapsplaces/) says one of these is required: `type`, `keyword`, `name`.

[Google Maps Places documentation](https://developers.google.com/places/web-service/search#PlaceSearchRequests) shows these are optional parameters.

How do I search for any Place near a certain lat,lon?

[2020-06-17 19:02] jbelien commented on #1063
Indeed, you seem to be right !
Maybe there were required back when we released our Google Maps Places provider.

I guess @atymic will know more about it since he/she developed the provider back in August 2019.

[2020-06-21 12:49] wivaku opened #1064 "Google Maps Places has incorrect URL base"
@atymic , the URL base currently used is:
`https://maps.googleapis.com/maps/api/place/textsearch/`
This throws an error.

The [documentation](https://developers.google.com/places/web-service/search) states this should be:
`https://maps.googleapis.com/maps/api/place/nearbysearch/`

[2020-06-21 13:07] #1064 closed

[2020-06-21 13:10] wivaku commented on #1064
added as details to #1063

[2020-06-21 13:15] wivaku commented on #1063
For [buildNearbySearchQuery()](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/GoogleMapsPlaces/GoogleMapsPlaces.php#L213) it seems it is hardcoded that `rankby:distance` is used (in which case indeed keyword/name/type are required).

Would prefer (in fact, just like the API: as default) to use `range=<meters>` and the (default)  `rankby=prominence`.

And related:

For [reverseQu

[2020-06-22 07:09] jbelien commented on #1063
Nice catch!

Would you be able to submit a PR to fix this ?

[2020-06-23 13:46] wivaku commented on #1063
Will do (this weekend or so). Is going to be my first pull request though, be gentle. ;-)

[2020-06-25 10:07] jbelien opened #1066 "Drop support for PHP 7.0 (End of life)"
PHP 7.0 end of life was more than a year ago (1st January 2019).

Could we drop the support for this version ?
Should we also drop the support for PHP 7.1 (End of life begin of this year) ?

That would allow us to use nullable types, among other things (see #1065).

[2020-06-25 10:11] Nyholm commented on #1066
Im happy to drop any PHP version if there is a good reason for it.

Since we have a use case for nullable types then Im happy with that.

We should release a new minor version when updating the PHP version.

👍

[2020-06-25 10:12] jbelien commented on #1066
Awesome !
I'll take care of it this weekend !

[2020-06-25 11:22] atymic commented on #1066
I think we should consider dropping 7.1 as well, it's also well out of active support.

[2020-06-27 09:41] #1043 closed

[2020-06-30 06:33] wivaku opened #1071 "provider Foursquare?"
Is there a reason why there is no Foursquare provider (for reverse geocoding)?
If not, is there a recommended starting point for creating a new provider?
Or should I just pick a similar one and copy & modify it? E.g. Nominatim / Google Places?

[2020-06-30 07:02] jbelien commented on #1071
The only reason is because no one submitted it. We are always happy to add new providers !
You are more than welcome to send us a PR for the Foursquare provider.

No real starting point for a new provider, just base your provider on an existing one.
Thanks !

[2020-07-04 08:05] #1066 closed

[2020-07-04 14:12] jbelien commented on #1066
I created a new release for all the sub-packages! 🎉

I noticed too late that Mapzen provider was abandoned so didn't need a new release. I could delete the release but I guess it's not a good practice.
Didn't make the same mistake for the other abandoned package : GeoIPs provider (@Nyholm could you mark it as abandoned on Packagist ? Thanks)

I notice that a lot of `branch-alias` in `composer.json

[2020-07-22 12:15] JaZo opened #1076 "Switch from PHP-HTTP to PSR-18"
PHP-HTTP has been formalized into PSR-18 a while back. It would be really nice if we can switch to PSR-18 as this would allow us to use clients with 'native' PSR-18 support, but lacking PHP-HTTP support, such as Guzzle 7. Most (if not all) PHP-HTTP-clients also support PSR-18 so it should not be a big breaking change.

[2020-07-22 15:40] jbelien commented on #1076
Yes! You're absolutely right, that's definitely something we should do! 🎉

I'll try to find some time in the next few month to prepare that migration.

[2020-07-22 17:17] Nyholm commented on #1076
We just need to drop php5. We can even do thin without breaking BC if I remember correctly.

[2020-08-13 13:51] jongotlin opened #1077 "Incorrect parsed name from Google Maps api"
Searching for __Pershagen__  returns the following json
https://maps.googleapis.com/maps/api/geocode/json?address=Pershagen&key=xxx
[code]

Using the google maps provider I get the following object. The phrase __Pershagen__ is omitted.
![image](https://user-images.githubusercontent.com/165154/90138748-c1c54880-dd77-11ea-8be5-8ec5279d56f2.png)

Searching for the similar area __Ronna__ I get a more

[2020-08-13 14:22] alanpoulain commented on #1077
It's because of the order of these two lines:
https://github.com/geocoder-php/Geocoder/blob/c2d2c3bc9dde6ee92954cb2f427e0e1c866a385d/src/Provider/GoogleMaps/GoogleMaps.php#L295-L296
Maybe `postal_town` should be before `locality`?

[2020-08-14 05:15] jongotlin commented on #1077
@alanpoulain That won't affect the result unfortunately.

[2020-08-14 05:55] jbelien commented on #1077
We'll need to test for address all over the world to (maybe) improve the process of `locality` and `postal_town`.
I'll try to do that ASAP.

[2020-08-14 07:14] jongotlin commented on #1077
Ideally Pershagen would be a sub locality and Södertälje locality but thats not what the Google response says.

Can we have Södertälje in list of admin levels?

[2020-08-14 07:22] jbelien commented on #1077
The issue is to keep a logic that works for all countries.
We only put `administrative_area_level_1...5` in the admin levels list.

[2020-08-14 07:42] jongotlin commented on #1077
Aha, understand. Maybe skip Södertälje in this case. The data from Google is not really correct. I think the rule here should be "If locality is set it should not be overridden by postal_town".

[2020-08-14 07:46] jbelien commented on #1077
The goal of this library is to create a layer on top of (reverse) geocoding API, not fix/process/mess with the data returned by the API.

I'll make some tests for other countries in the world to see if that applies.
We won't make changes that will affect every country "just" to fix a locality issue in Sweden.

[2020-08-14 08:09] jongotlin commented on #1077
Yes, understand and agree with that. However, overriding a value like this doesn't seems correct.

[2020-08-24 14:37] stevevance commented on #1066
@jbelien  Mapzen as an endpoint doesn't exist, but there are still geocoders that are based on it. The commercially available [Geocode.earth](http://geocode.earth) provides a Mapzen-compatible endpoint.

[2020-08-24 14:41] jbelien commented on #1066
@stevevance No worries, we have a [Geocode Earth provider](https://github.com/geocoder-php/geocode-earth-provider) !

[2020-09-02 15:21] leem32 opened #1078 "Using redis cache plugin alongside phpredis extension"
I'd like to use Geocoder, but have a couple of quick questions first.

1. Is there any reason why I couldn't use the Redis cache plugin from the Geocode cookbook example alongside the  [phpredis](https://github.com/phpredis/phpredis) extension?
I mean using both in the same file. I wonder if this could cause a bug somehow.

2. Could I use the phpredis extension for caching instead of a cache plugi

[2020-09-02 16:29] leem32 opened #1079 "Does chain provider switch if rate limit reached"
Does the Chain Provider automatically switch to a new provider if a provider fails to return geo data because the rate limit has been reached?

[2020-09-13 11:19] sudent opened #1080 "Same data attributes for different provider in chain providers"
Hello,

I'm not sure if anyone have encountered this. If I want to use the chain provider with Mapbox and Google Maps provider to do reverse geocode, I can't specify `location_type` data attributes with the query because it will mean differently to each provider (ie. valid `location_type` for Mapbox is `poi`, `place`, `locality `etc. but for Google Maps valid values were eg. `ROOFTOP`, `RANGE_INTE

[2020-10-10 09:35] #1063 closed

[2020-10-13 13:48] timwood opened #1086 "Mapbox provider not working with US zip codes"
When using the https://github.com/geocoder-php/mapbox-provider with Drupal's geocoder module, Mapbox is unable to geocode US zip codes. I've tried both +5 and +9 zip codes. Mapbox also seems to have issues with searching for example `Rockville, MD` (get results in New England 🤷‍♂️ ) yet searching for `Rockville, Maryland` gets the expected results. When using more complete addresses, geocoding wor

[2020-10-13 14:25] timwood commented on #1086
Hey @jbelien,
The zip code I've been testing with is `20853`  which is in `Rockville, Maryland` in the United States. An example address in this zip code is `4615 Sunflower Drive, Rockville, Maryland 20853, United States`. I'm not 100% sure where to test the Mapbox geocoding API directly, but when I used this testing tool, https://docs.mapbox.com/help/demos/how-mapbox-works/how-geocoding-works.htm

[2020-10-16 06:37] #1056 closed

[2020-10-18 00:38] verybigelephants opened #1087 "Here provider needs an update: apiKey"
now, the created apps use apiKey instead of app_id and app_code, however, the library only accepts app_id/app_code. these two cannot be generated in the Here panel for anymore (only for ios and android apps), and official developers even discourage using them https://stackoverflow.com/questions/60438951/does-app-key-means-the-same-as-app-code-for-here-geocoding-credentials-on-py

[2020-10-18 07:19] jbelien commented on #1087
Hello @verybigelephants ,

Thanks for the notice!
Would you have time to create a PR to extend the library to use `apiKey` ?

[2020-10-18 20:50] verybigelephants commented on #1087
i would like to contribute i'm not sure how does the process actually work with the composer libraries. that is, how to actually test the code that i'll write :D

- i mean, if i modify the code inside the vendor directory then i'm not modifying the actual git repository https://github.com/geocoder-php/here-provider
- while if i actually checkout the https://github.com/geocoder-php/here-provider re

[2020-10-19 05:59] jbelien commented on #1087
All are dedicated repository for each provider are read-only ; you'll have to submit your PR to this main repository [`geocoder-php/Geocoder`](https://github.com/geocoder-php/Geocoder]. You can find the Here provider in [`src/Provider/Here`](https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/Here).

For testing while your adapting the provider, you can for instance use [path](https:

[2020-10-19 20:22] verybigelephants commented on #1087
i've tried "\o_O/"

https://github.com/geocoder-php/Geocoder/pull/1088

[2020-10-19 21:02] atymic commented on #1087
I had a PR open for this already as well, in https://github.com/geocoder-php/Geocoder/pull/1042
I'm not sure why it didn't end up being merged, will check now.

[2020-10-19 21:03] atymic commented on #1087
Okay, looks like it just needs docs, I can update this arvo.

[2020-10-19 22:47] verybigelephants commented on #1087
i don't mean to offend or anything, but why would you keep deprecated app id/code inside the main __constructor and then make another another static method for a new constructor. this is a red flag that the library will need yet another update in a short future.

i mean, i understand that you've wanted to keep the old users using this api update without a hassle, but then why wouldn't you use some

[2020-10-20 04:24] jbelien commented on #1087
Oh riiiight, I thought we had already did something about that ... didn't think to check the existing PR 🤦‍♂️
@atymic Could you finish that one so we can merge it ?

[2020-10-20 04:26] jbelien commented on #1087
Duplicate of #1041

[2020-10-20 04:26] #1087 closed

[2020-10-20 04:35] jbelien commented on #1087
@verybigelephants We try to avoid as much as possible any breaking change. If appId/appCode still works (which seems to be the case, even though they're deprecated), there should not be any breaking change. In the way proposed in #1042, the current user won't have to adapt anything (which is how it should be) and the new appKey method is available.

[2020-10-21 06:11] #1041 closed

[2020-10-21 06:48] jbelien commented on #1087
Version `0.5.0` is [released](https://packagist.org/packages/geocoder-php/here-provider).

[2020-10-21 06:48] jbelien commented on #1041
Version `0.5.0` is [released](https://packagist.org/packages/geocoder-php/here-provider).

[2020-10-29 18:50] wantell opened #1089 "Alternative for ArcGIS provider"
Hello,

I work on a site which requires us to use ArcGIS and store the results. Per their terms of service, this requires an account with their service in order to provide a token, which the ArcGISOnline provider class/package does not support.

In order for us to be compliant, I have made a variation of ArcGISOnline called [ArcGISList](https://github.com/wantell/arcgis-geocode-addresses). This al

[2020-10-29 19:11] jbelien commented on #1089
Hello @wantell,

Since `/find` seems indeed deprecated for [`/findAddressCandidates`](https://developers.arcgis.com/rest/geocode/api-reference/geocoding-find-address-candidates.htm) and our provider doesn't support [`/geocodeAddresses`](https://developers.arcgis.com/rest/geocode/api-reference/geocoding-geocode-addresses.htm), I would suggest to upgrade/extend our provide with a PR.

Here is what I

[2020-10-29 19:27] wantell commented on #1089
Hi @jbelien,

I will work on creating the PR.

[2020-10-29 22:15] wantell commented on #1089
Hi @jbelien,

I have created the PR: https://github.com/geocoder-php/Geocoder/pull/1090

Please let me know if you have any questions. I don't know if you are involved with the Drupal module but I will be submitting a code update to them to integrate with this change.

[2020-10-29 22:25] atymic commented on #1089
Awesome job @wantell!

[2020-11-03 06:45] #1089 closed

[2020-11-11 15:18] mwansinck commented on #1044
@jbelien @Nyholm Any updates on this?

In my opinion using the same cache key for different providers is incorrect and results unpredictable behavior, as @AntoineLemaire explained already.

[code]

[code]

In this case Nationaal Georegister Geocoder (free geocoder containing only Dutch data) comes with an illogic response (as could be predicted based on our search text). However due to caching con

[2020-11-16 12:40] didix16 commented on #961
Hi, I was wondering why adding timezone is out of scope from this project?

I mean, Geocoder has the Address class which has the timezone property and GoogleAddress extends from that Address. So why not add the Google Maps API Timezone to get the timezone? Is it so hard to develop it?

Thanks in advance

[2020-11-23 07:18] rtiagom opened #1092 "GeoIP2 broken"
The GeoIP2 example is broken.

https://github.com/geocoder-php/geoip2-provider

//Use a Maxmind GeoIP2 Database:
$reader = new \GeoIp2\Database\Reader('/path/to/geolite2.mmdb');

$adapter = new \Geocoder\Provider\GeoIP2\GeoIP2Adapter($reader);
$geocoder = new \Geocoder\Provider\GeoIP2\GeoIP2($adapter);

$address = $geocoder->geocode('74.200.247.59')->first();

Call to undefined method Geocoder\Pro

[2020-11-23 08:26] jbelien commented on #1092
Hello @rtiagom ,

Thanks for the notice.
The README file of our GeoIP2 provider is indeed outdated.

Could you submit a PR to update it ?
Here is the file to update: https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/GeoIP2/README.md

[2020-11-25 19:08] ildyria opened #1093 "Support for PHP 8.0"
Currently Geocoder is only supporting php 7.2 and higher as seen in composer.json.
[code]

Would it be possible to additionally enable support for php 8.0 which [will be/has been] released on November 26th, 2020 ?

[2020-11-26 06:29] rtiagom opened #1094 "IpInfoDb - Uncaught TypeError: Argument 11 passed to Geocoder\Model\Address"
While testing IpInfoDb with IP 1.143.27.182 I got Uncaught TypeError: Argument 11 passed to Geocoder\Model\Address::__construct() must be of the type string or null, bool given

IpInfoDB response:
[code]

`$timezone = timezone_name_from_abbr('', (int) substr($data['timeZone'], 0, strpos($data['timeZone'], ':')) * 3600, 0);`
`timezone_name_from_abbr('', 39600, 0) // Melbourne Australia is observing

[2020-11-26 07:45] jbelien commented on #1094
Hello @rtiagom ,
Thanks for the notice.

Would you have time to submit a PR ?

[2020-11-26 07:46] jbelien commented on #1093
Excellent idea !
I'll test and make the update once PHP 8.0 is officially released (announced for later today).

[2020-11-27 05:32] rtiagom commented on #1094
@jbelien Sure, I try to submit a PR this weekend.

[2020-11-27 05:33] rtiagom commented on #1092
@jbelien will do

[2020-11-29 10:02] #1092 closed

[2020-11-29 10:54] jbelien commented on #1093
Apparently PHP 8.0 is not available in TravisCI at the moment : https://travis-ci.org/github/geocoder-php/Geocoder/builds/746552201
I'll try again in a few days!

[2020-11-29 11:05] ildyria commented on #1093
At LycheeOrg we got limited by the credits system on TravisCI (docker was taking a lot of time to build) so we migrated to Github actions. I have to say, this option is significantly faster than Travis builds.

[2020-11-29 14:48] ildyria commented on #1093
I spent a few hours setting up GitHub actions as it provides PHP 8.0 (https://github.com/ildyria/Geocoder/tree/add-github-actions)

Unfortunately, simply changing the composer file to also accept php 8.0 is not enough as some dependencies do not accept PHP 8: https://github.com/ildyria/Geocoder/runs/1470099431?check_suite_focus=true

[2020-11-29 14:54] jbelien commented on #1093
Awesome, thanks for the information @ildyria 👍

[2020-12-08 10:03] jbelien commented on #1093
Travis CI has been updated and now PHP 8.0 is available.
As you noticed, we need support for PHP 8.0 on `php-http/curl-client`.

[2020-12-08 10:48] ildyria commented on #1093
Yes, I know: https://github.com/php-http/curl-client/issues/68

[2020-12-10 16:48] ildyria commented on #1093
Pull request on the Curl-client side: https://github.com/php-http/curl-client/pull/71

[2020-12-14 16:49] mruz commented on #1093
Curl-client has been updated. @jbelien can you open a PR to check if php8 branch passes?

[2020-12-15 10:18] jbelien commented on #1093
I'm having a look this week 👍
I'll have to "upgrade" [`geocoder-php/provider-integration-tests`](https://github.com/geocoder-php/provider-integration-tests). I'm working on it.

[2020-12-15 17:06] jbelien opened #1100 "Migration to GitHub Actions"
Travis CI is closing https://travis-ci.org/ for https://travis-ci.com/ and with that migration it seems like the free tier will be limited to 10000 credits.

I don't exactly understand the pricing model but I think it's time to migrate to GitHub Actions.

**EDIT:** I'm not even sure our Travis CI tests are still running, I triggered https://travis-ci.org/github/geocoder-php/provider-integration-te

[2020-12-15 17:07] jbelien commented on #1100
@ildyria already gave it a try here : https://github.com/ildyria/Geocoder/tree/add-github-actions

[2020-12-15 17:20] ildyria commented on #1100
At LycheeOrg we migrated most of our CI to Github, because of the new "requirements" of travis. Some people took advantage of the "free" computational power to actually do crypto currency mining... (no comments)

I have to say that we haven't had any problem with the CI on Github Actions.

[2020-12-15 17:41] jbelien commented on #1093
PR is ready and waiting for review : https://github.com/geocoder-php/provider-integration-tests/pull/17

[2020-12-19 08:31] jbelien commented on #1093
PR #1102 is ready and waiting for review 🚀

[2020-12-19 11:18] jbelien commented on #1093
It will need a bit more work to fully support PHP 8.0.

[2020-12-21 11:28] jbelien commented on #1093
It will (still) need a bit more work to fully support PHP 8.0.

[2020-12-21 14:03] #1093 closed

[2020-12-22 08:31] jbelien commented on #1093
All (official) providers and components have got a new release and are now supporting PHP 8.0 !

Merry Christmas everyone ! 🎅

[2020-12-22 13:55] mikebronner commented on #1093
That is awesome! Thanks @jbelien. Will there be a new release of the main package as well in the near future, or does that still require more work?

[2020-12-22 14:15] jbelien commented on #1093
@mikebronner All packages already have a new release including our main package [`willdurand/geocoder`](https://packagist.org/packages/willdurand/geocoder).

If you're asking about a new release of [this repository](https://github.com/geocoder-php/Geocoder), I just released it but AFAIK there is no package linked to our main repository.

[2021-01-11 18:28] holtkamp commented on #1076
For people who would like to understand this request, some additional documentation can be found here: http://docs.php-http.org/en/latest/httplug/introduction.html#client-interfaces

[2021-01-15 07:56] jbelien commented on #1076
@JaZo Would you have time to submit a PR ? Thanks :)

[2021-01-15 09:24] randriese opened #1107 "Mapbox Provider prevents searching for countries"
I'm using the Mapbox Provider in my API to fetch coordinates for given entities. These entities can be either:
- Countries
- Cities
- Districts
- Addresses

However, the current implementation of the mapbox provider prevents from returning anything that doesn't contain a context.

When I run this snippet and watch the console, I see that the query to Mapbox is correct and data is returned.
$locati

[2021-01-15 09:29] jbelien commented on #1107
You can submit a PR in our main repository (this one).
Mapbox provider is located here: https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/Mapbox

[2021-01-15 11:04] randriese commented on #1107
It seems that quite a big PR is required for the library to support Countries, Cities or Districts as valid query results...
I'll see what I can do.

[2021-01-18 14:12] JaZo commented on #1076
I'd love to get this through, but don't exactly know how to do it without breaking BC. @Nyholm do you have some guidance or examples to get this through without breaking BC?

[2021-01-19 09:57] Nyholm commented on #1076
If we dont use any async stuff. Then there is no real BC break, Of course it is a technical BC break and we should update the major version. But befeore we are ready for a new major release, we can use both PSR18 and HTTPlug at the same time.

[2021-01-20 08:02] JaZo commented on #1076
Okay, I'll give it a go!

[2021-01-21 14:17] eschricker opened #1111 "[OpenCage] configure guessing order"
It would be great, if the guessing order could be configured instead of being hard coded.

For example for this result in Germany: '53757, Sankt Augustin, Grantham Allee 20, Deutschland' the returned components are:
[code]

Due to the current locality order 'Rhein-Sieg-Kreis' will be returned as city, but 'Sankt Augustin' would be correct. In comparison to the formatted field of the OpenCage-resul

[2021-02-01 14:38] jbelien commented on #1014
Documentation is now available:
- https://www.maptiler.com/cloud/geocoding/
- https://docs.maptiler.com/cloud/api/#tag/Geocoding

I'll create the new provider. 👍

[2021-02-14 16:47] webprogrammierer opened #1114 "Nominatim geocoder returns different results for postalcode before vs after city name"
Maybe this is not an issue of geocode-php/nominatim-provider , it maybe an issue of Nominatim itself:

https://github.com/osm-search/Nominatim/issues/2167

But Nominativ has closed the issue instead of solving the problem.

Please check the problem and example on https://github.com/osm-search/Nominatim/issues/2167 and help to solve this problem.

Thank you.

[2021-02-14 16:52] mtmail commented on #1114
Nominatim hasn't closed the issue, we locked further comments.

[2021-02-14 17:16] webprogrammierer commented on #1114
It is not good to lock further comment. So people see you are not interested in solving it.

[2021-02-14 17:22] mtmail commented on #1114
We have received all information needed to investigate the issue. We will update the issue when there is progress.

[2021-02-14 17:52] jbelien commented on #1114
Hello @webprogrammierer, thanks for your "issue" but we do not tweak or change results returned by external APIs ; we just process the result returned by the API.

[2021-02-14 17:56] jbelien commented on #1114
That being said address parsing is indeed REALLY difficult.

In `9400 Wolfsberg AT` or `Wolfsberg 9400 AT`, the `9400` could be a postal code or a house number ; I'm guessing that's (part of) the reason the result is different.

[2021-02-14 18:15] webprogrammierer commented on #1114
House number 9400?
Very funny.

[2021-02-14 18:27] webprogrammierer commented on #1114
You can use the right syntax for the query.
The right syntax is: postalcode after city.

Instead of the free-form queries you can also use "Alternative query string format split into several parameters for structured requests", see here:
https://nominatim.org/release-docs/develop/api/Search/

So you have 2 ways to solve this.  That is done in a few minutes and thousands of users will have a soluti

[2021-02-14 20:40] jbelien commented on #1114
Maybe not in Austria but the goal of Nominatim is to work globally ...

Where does this assessment come from ?
Is there anywhere in Nominatim documentation stating that postal code should go after the city ?

I'm well aware of the structured requests.
I don't have time to improve Nominatim provider at the moment but you're more than welcome to submit a Pull Request.

[2021-02-14 21:14] webprogrammierer commented on #1114
https://nominatim.org/release-docs/develop/api/Search/

[code]

Postalcode is the last value in the list! You have to keep the order if using a simple query q?=<query>. I takes less than 5 minutes to find that out. Test it out and you will be convinced.

The changes in code should be done only here:
https://github.com/geocoder-php/nominatim-provider
where it is not possible to create issues. There

[2021-02-14 22:49] mtmail commented on #1114
In the [Nominatim API documentation](https://nominatim.org/release-docs/develop/api/Search/) those are names of URL parameters. They can be in any order. Postalcode being last in the list has no significance. In the value "<housenumber> <streetname>" the order can be "<streetname> <housenumber>", too.

The issue is Nominatim software not interpreting the free form text (address) correctly. I think

[2021-02-15 08:12] jbelien commented on #1114
Thanks @mtmail for confirming what I thought. 👍

---

@webprogrammierer
Please remember that people working on Nominatim or on this project are **volunteers**. They usually do the work on their **free** time.
If your problem do not find a solution quick enough, I suggest you submit a PR here to add support for structured requests.

You can also use any other provider ; if you need to use OSM data,

[2021-02-15 09:42] webprogrammierer commented on #1114
It would be great if YOU could tell the programmers of Nomnatim API to adapt the documentation, because we all (you and I) found out, the order of postalcode and city must be city -> postalcode.

I do not understand, why you do not tell all people here, that you will solve the problem within 20 days instead of 3 days. This would be a great beginning and a great outlook for all who want correct coo

[2021-02-15 09:56] webprogrammierer commented on #1114
There are about a dozons reactions and comments on this problem till now in two issue. The only thing that has been written is rejection.

Please look us further and tell us where and when this huge problem will be solved OR who from all the programmers will feel responsible to pursue the problem until it is resolved.

Rejection is not the thing that should be posted here in such a case. Both, Nom

[2021-02-15 10:00] jbelien commented on #1114
The code of the Nominatim provider is located here : https://github.com/geocoder-php/Geocoder/tree/master/src/Provider/Nominatim and the main file is [`Nominatim.php`](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Nominatim/Nominatim.php).

[2021-02-15 10:56] webprogrammierer commented on #1114
Thank you.

On 84:    public function geocodeQuery(GeocodeQuery $query): Collection {

in the $query object the private $data value is empty ($query->__toString() or ->getAllData() ). So it is not possible to get the values of postalcode, city and the other address parts. $query only contains the search string in the private $text variable (->getText() ).

But we need all the parts of the address

[2021-02-15 11:15] jbelien commented on #1114
Please dive in our code a little bit more (or check how it's done in other providers), we have the `GeocodeQuery::withData()` function exactly for that purpose: https://github.com/geocoder-php/Geocoder/blob/master/src/Common/Query/GeocodeQuery.php#L131

[2021-02-15 11:46] webprogrammierer commented on #1114
Maybe you can write the patch for structured Nominatim search. You know the code very well.

[2021-03-09 07:41] jbelien opened #1116 "Make README more consistent"
At the moment, some providers README file contain a usage example and some don't.

Here is my suggestion:
- Full example in [main README file](https://github.com/geocoder-php/Geocoder/blob/master/README.md)
- Link to main README + constructor example in provider README file

[2021-04-13 23:12] kmadenski opened #1117 "Mapbox - missing proximity query param"
Missing proximity query param: https://docs.mapbox.com/help/tutorials/local-search-geocoding-api/#the-proximity-parameter

[2021-04-30 21:39] timwood commented on #1086
Hi again @jbelien
When debugging the geocoder-php/mapbox-provider to print out the URL it's sending to the Mapbox API, I see this:

When manually querying the API (using the URL above), this results in the following response, which has no results:
[code]

If the <code>types=</code> value is changed from address to postcode, then we get the expected results:
<code>https://api.mapbox.com/geocoding/v

[2021-05-07 06:58] jbelien opened #1120 "Autocomplete mode"
The last 2 PR are aiming to add autocomplete support.

I like the idea but I think we need to figure out a consistent way to implement that across all providers that offer autocompletion.

---

#1118 by @nassuf

[code]

#1119 by @gdw96

[code]

---

Personally, I would go for a new `AutocompleteQuery` class (see `src/Common/Query`) so we make it consistent and structured for every provider.
That b

[2021-05-07 07:09] jbelien commented on #1086
Yes, it is indeed possible !

[code]

See
- https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Mapbox/Mapbox.php#L219-L223
- https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/Mapbox/Mapbox.php#L111-L122

[2021-05-10 13:42] gdw96 commented on #1120
__Note:__ Google Place Autocomplete returns limited information about places. It comes with Google Place details (the `sessiontoken` parameter allows, among other things, to link the two queries).

So I was planning to add Google Place Details [it also allows to return a place from its ID] in the same way as Google Place Autocomplete. But I'll wait for now.

All this to say, that the different pro

[2021-05-10 13:44] Nyholm commented on #1120
Hm.. How many providers support auto complete?

Does it make sense to do bring them under a common interface? What would return values be?  etc.

[2021-05-12 20:11] BrodyT opened #1121 "LocationIQ - State AdminLevels do not have their codes set."
Even after doing a few workarounds to add the parameter "statecode=1" (added to the end of the api key, since withData() doesn't appear to be working), the adminLevels still do not have the code set.

I've traced this back to how the adminLevels are populated on line 121 of the provider, the code is statically set to ''.

[2021-05-20 11:56] dmolineus opened #1124 "GeocodeQuery with zero as text fails"
When creating a geocode query with `'0'` as text, the value is handled as invalid character. `'0'` though can be a valid query, e.g. when querying for postal codes. The issue here is the usage of `empty()`.

[code]

[2021-05-20 12:09] jbelien commented on #1124
Good point, thanks @dmolineus !

I'll create a PR to fix this later today.

[2021-05-27 12:32] degorych opened #1126 "Location type for Google map provider"
`$geocoder->geocodeQuery(GeocodeQuery::create($address))` can return approximate coordinates if street or street number not found. For example:
$geocoder->geocodeQuery(GeocodeQuery::create('Кропивницький вул. Велика Перспективна, 36'))->getCoordinates()->toArray() // Place found
$geocoder->geocodeQuery(GeocodeQuery::create('Кропивницький вул. Велика Перспективна, 136'))->getCoordinates()->toArray(

[2021-05-27 13:18] jbelien commented on #1126
GoogleMaps provider already has a `getLocationType()` function to retrieve the location type.

https://github.com/geocoder-php/Geocoder/blob/1714d61578ea4881c8d481feae4e214e902095e4/src/Provider/GoogleMaps/Model/GoogleAddress.php#L163-L166

[2021-06-03 16:51] #1126 closed

[2021-06-20 13:32] #1100 closed

[2021-06-21 06:13] #1124 closed

[2021-06-21 07:25] jbelien commented on #1049
I gave it a deeper look and here is the `AddressCollection` constructor:
[code]
Since `$locations` is typed as an array, there is no issue to use `array_values()`.
Also, `AddressCollection` implements `Collection` that extends `Countable`.

---

Could you give a bit more of context about your issue ?
Do you still have this issue ?
What provider do you use ?
What PHP version do you use ?

Thanks!

[2021-06-21 12:50] dereuromark commented on #1049
Yeah, after over a year I am now also not sure anymore.
I will then just close this now.

[2021-06-21 12:50] #1049 closed

[2021-07-02 23:39] ccresz opened #1129 "Need a hand over here, keep getting an error"
`Class Geocoder\Provider\GoogleMaps\Model\GoogleAddress may not inherit from final class (Geocoder\Model\Address)

Symfony\Component\ErrorHandler\Error\FatalError
…\vendor\geocoder-php\google-maps-provider\Model\GoogleAddress.php22

`
Have tried everything I can think of.

Even if you just suspect anything let me know and I'll try it.

[2021-07-03 06:56] jbelien commented on #1129
Hello @ccresz ,

I'll have a look, can you give us a bit more of context ? Could you show us your piece of code ?

[2021-07-03 20:35] ccresz commented on #1129
Is like I just needed you to answer to find the solution, was a file on Laravel cache stuck from previous versions I did:
`composer dump-autoload`
`composer clear-cache`
`php artisan optimize:clear`

and the problem went away, not exactly sure was the command that actually did the trick, but thanks problem is gone.
Thanks for your help.

[2021-07-03 20:35] #1129 closed

[2021-08-20 12:51] sebalis opened #1135 "Nominatim provider should not rely on php.ini value for arg_separator.output"
Hi. The Nominatim provider calls the PHP function ``http_build_query`` without setting its optional parameters, This leads to PHP using the INI setting ``arg_separator.output`` to build the resulting URL. This is an error that might not show in many installations since most will have configured this value to a single ``&``. But others may have configured ``&amp;`` which makes the Nominatim provide

[2021-08-20 12:55] #1135 closed

[2021-09-25 16:08] comxd opened #1137 "[GoogleMapsPlaces] Error message response from API is not displayed"
In case you use a bad API key, the error message returned from the API is not displayed.

[2021-11-22 03:27] shashankj99 opened #1144 "Localization issue"
I've set the locale to english but still getting result in arabic.
`
$adapter_client = new Client();
$provider = new GoogleMaps($adapter_client, null, $api_key);
$geocoder = new StatefulGeocoder($provider);
$geocoder->setLocale('en');
`

Here's my output

"الأندلس،"

[2021-11-22 07:20] jbelien commented on #1144
Hello @shashankj99 ,

Could you tell us what query did you made ?
And check the request sent to Google API ?

[2021-12-15 08:46] ruudk opened #1145 "Tag new releases"
Important for Symfony 6.0:

- https://github.com/geocoder-php/chain-provider/commit/24f9a63d1fbcb7bb8d87c3427290f5e1a8c3faa7
- https://github.com/geocoder-php/plugin/commit/6efd5e0be78128bf6e6df350d682063e01264f54

[2021-12-15 09:23] jbelien commented on #1145
Excellent point! Thanks for the reminder.

I'll create new releases before the end of the year!

[2021-12-28 07:48] henrikac opened #1146 "Issue installing google-maps-provider"
When I try to install [google-maps-provider](https://github.com/geocoder-php/google-maps-provider) as shown in the docs `composer require geocoder-php/google-maps-provider` I get the following error

[code]
It looks like it fails to install `geocoder-php/common-http 4.4.0` and then tries to install older versions but `PHP 8.0` was not added to `geocoder-php/common-http` until `v4.4.0`.

[2021-12-28 07:51] #1146 closed

[2021-12-31 09:18] ruudk commented on #1145
@jbelien Just a friendly reminder that the year is almost over 🎆 😉

[2022-01-07 06:58] norkunas commented on #1145
ping :wink:

[2022-01-07 14:54] jbelien commented on #1145
✨ New releases are live!

[2022-01-07 14:54] #1145 closed

[2022-02-12 16:13] #1014 closed

[2022-05-14 20:43] uwbas opened #1155 "Municipality not in list of 'localityFields'"
I came across some reverse geocoding results where Nominatim.php didn't return a 'locality'. In my opinion, this latlng query should have 'Purmerend' as its locality, as it's the municipal boundary:

https://nominatim.openstreetmap.org/ui/reverse.html?lat=52.50741&lon=4.93279&zoom=18
https://nominatim.openstreetmap.org/ui/details.html?osmtype=W&osmid=6593763&class=highway

Upon debugging, I notice

[2022-05-27 08:55] jbelien commented on #1155
Hello @uwbas ,
That seems indeed to be a valid point!
Could you submit a PR with that change ?
Thanks.

[2022-05-28 11:04] uwbas commented on #1155
Done: https://github.com/geocoder-php/Geocoder/pull/1156

[2022-06-30 22:01] killrawr opened #1157 "How do I change the OpenRouteService::API_URL for "On-Premise" install of software"
I noticed the `OpenRouteService::API_URL` is being hard-coded into file `Geocoder\Provider\OpenRouteService` (`vendor\geocoder-php\openrouteservice-provide\OpenRouteService.php`)

Could someone please push the following code into the next version of `OpenRouteService` (updating `Pelias` would do the trick)

`vendor\geocoder-php\pelias-provider\Pelias.php`

    /**
     * @param HttpClient $client

[2022-07-01 07:11] jbelien commented on #1157
Hello @killrawr ,

Thanks for the suggestion! 👍
We're open to Pull Request ; feel free to open a new PR and (after review) we will update the codebase of those 2 providers.

[2022-07-30 10:48] #1076 closed

[2022-07-30 12:56] jbelien opened #1161 "Clean wrong tag/release created by @JaZo"
After #1110, I've updated all changelog files and was planning to create new releases.
But while creating new releases I realized that some tags already have been created by @JaZo.
Unfortuntately, a lot of those tags are **wrong** : he seems to have created a `4.3.0` tag for all providers instead of following the correct semver!

I'm currently deleting the wrong tags but it has already been update

[2022-08-02 17:57] Nyholm commented on #1161
It is updated!

[2022-08-02 18:36] jbelien commented on #1161
Cleaning is now complete!
Thanks @Nyholm for the assistance. 😄

[2022-08-02 18:36] #1161 closed

[2022-08-15 07:48] JaZo commented on #1161
I don't know how that happened and I'm really sorry about that! I for sure didn't create these tags manually 🤔 Do you have any idea how that could've happened so I can make sure it never happens again?

[2022-08-15 13:40] JaZo commented on #1161
Ahhh, an issue with subtree split sounds plausible, let's hope it won't happen again!

[2022-09-29 15:17] mrelliot69 opened #1163 "Unable to install providers"
Heyy, im trying to install the providers like
composer require geocoder-php/nominatim-provider
but i allways get an error and i'm unable to procced

[code]

anyone know how i can fix this?

[2022-09-30 06:56] jbelien commented on #1163
Hello @mrelliot69 ,

According to the following warning, it seems that you're still using Composer version 1.

port/

Could you try to [upgrade to Composer version 2](https://getcomposer.org/upgrade/UPGRADE-2.0.md) and give it another try?

[2022-09-30 07:04] jbelien commented on #1163
Also, you seem to run the following command:

[code]

But Composer indicates that you miss a `php-http/client-implementation`.

You indeed need to specify which library you want to use (Guzzle, cUrl, ...)!

Check the main documentation here: https://github.com/geocoder-php/Geocoder#summary-just-give-me-the-command

[2022-09-30 19:54] mrelliot69 commented on #1163
Thanks @jbelien , another question:
is it possible to get the address id also when the provider list the results ..

For example arcgis have an id to identify that address, its possible to get that info also on the result array?

[2022-10-01 08:34] jbelien opened #1164 "Always get the address id"
[...]
is it possible to get the address id also when the provider list the results ..

For example arcgis have an id to identify that address, its possible to get that info also on the result array?

_Originally posted by @mrelliot69 in https://github.com/geocoder-php/Geocoder/issues/1163#issuecomment-1263963499_

[2022-10-01 08:34] jbelien commented on #1163
See #1164

[2022-10-01 08:34] #1163 closed

[2022-10-01 08:38] jbelien commented on #1164
Some providers return an identifier for the address some don't.
It really depends on the provider (either because the external API do not return an identifier, or because it has not been implemented in the Geocoder PHP provider).
Nothing we can do about the first case, but if it's missing in our provider, we can easily add it (via a PR).

[2022-10-01 09:44] mrelliot69 commented on #1164
In this case for example the arcgis and the mapbox one return allways the id, but when getting that info using the library , only returns the info like address, latitude, longitude,... but never the id

If we can add that, that would be great

[2022-10-01 12:23] jbelien commented on #1164
If it's provided by the external API, it's definitely not an issue to add it to our providers.

PR are more than welcome.

[2022-10-02 08:09] mrelliot69 opened #1165 "Arcgis Provider"
Is the doc updated?
When i try to use
$provider = new \Geocoder\Provider\ArcGISList\ArcGISList($httpClient);
says class not found, but if i use
$provider = new Geocoder\Provider\ArcGISOnline\ArcGISOnline($httpClient);
it works, so im i doing something wrong or ?

[2022-10-02 08:23] mtmail commented on #1165
The directory is called ArcGisOnline so I’d say the documentation is outdated. https://github.com/geocoder-php/Geocoder/tree/master/src/Provider

[2022-10-02 08:33] mrelliot69 commented on #1165
yap thats what i also tought,
question: why when using arcgis sometimes when i type Rua do, we retturns almost every result with some letters like Asd, a /n
do i need to setup another setting to work properly?

[2022-10-02 12:11] jbelien commented on #1165
Indeed, [`Readme.md`](https://github.com/geocoder-php/Geocoder/blob/master/src/Provider/ArcGISOnline/Readme.md) seems outdated.
Could you create a PR to update it?

We don't "mess" with the result returned by the external API, we just provide a provider around it.
That issue probably comes from the API itself. Please check.

[2022-10-03 14:14] mrelliot69 opened #1166 "Static Maps"
Just came across a website that is using a feature that may interest other developers using this library.
Basically when they return the location they also provide a static map using the provider api

for example mapbox
https://docs.mapbox.com/api/maps/static-images/
https://api.mapbox.com/styles/v1/{username}/{style_id}/static/{overlay}/{lon},{lat},{zoom},{bearing},{pitch}|{bbox}|{auto}/{width}x{

[2022-10-03 14:20] jbelien commented on #1166
Hello @mrelliot69 ,

Thanks for your suggestion!
It's a really interesting feature but indeed out of scope of Geocoder PHP that is focused on geocoding (search for an address).

[2022-10-03 14:20] #1166 closed

[2022-11-08 16:54] Jeremylepr opened #1167 "[Nominatim] Neighbourhood field"
Some addresses have a "neighbourhood" field, for example :

https://nominatim.openstreetmap.org/reverse?format=xml&lat=35.685939&lon=139.811695&zoom=18&addressdetails=1

In jsonResultToLocation(), this field is not processed, so we can't get that value through the reverseQuery() method.

[2022-11-08 17:05] jbelien commented on #1167
Hello @Jeremylepr,

Thanks for the idea.
It should be relatively easy to implement, could you create a PR ?